<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a847fff0-fc6f-4516-811b-6393f2b17f19" Alias="chatbot" Level="1">
  <Info>
    <Name>Chatbot</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Chatbot</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f7cc9cde-aa50-445b-aa48-9e31fa7f1181">Chatbot</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5b6a454f-fb0b-44fd-a71c-97da920a4f46</Key>
      <Name>TitluChatbot</Name>
      <Alias>titluChatbot</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="chatbot">Chatbot</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>632f56eb-6e02-4148-abde-9759471c120c</Key>
      <Caption>Chatbot</Caption>
      <Alias>chatbot</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>