<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec4c0c4a-86cc-4a83-9e6e-76d710716ac2" Alias="contractori" Level="1">
  <Info>
    <Name>Contractori</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Contractori</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="36e5fe70-3976-4920-b158-b47ba6f25f64">Contractori</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ce7754a6-5304-4127-8c50-95400103171e" SortOrder="0">contractor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>