<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae74f1ca-dc19-4663-b6d0-ddde3eb93528" Alias="formatori" Level="1">
  <Info>
    <Name>Formatori</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Formatori</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7fe51de8-3a34-41c5-91fc-08d826c3804f">Formatori</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="72774260-d7b7-445e-aef0-ed475e399e01" SortOrder="0">formator</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>