<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99d2bd54-3913-463a-a81b-45d11fb06fe8" Alias="galPins" Level="1">
  <Info>
    <Name>GalPins</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>GalPins</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="df6ebc3a-9941-4c05-94ae-2174057e5845">GalPins</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>420dceeb-5ebb-4fa7-80e8-b57f0aa794c4</Key>
      <Name>LocalizareGal</Name>
      <Alias>localizareGal</Alias>
      <Definition>a81fb404-67a0-4c34-9158-6fe6c6d7abcd</Definition>
      <Type>Our.Umbraco.GMaps</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="localizareGAL">Localizare GAL</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3a0abb2d-57a0-4c39-989f-7904d3218046</Key>
      <Caption>Localizare GAL</Caption>
      <Alias>localizareGAL</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>