<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="52fcb12c-d600-4586-9fa5-076e15f3b2ae" Alias="inscriereVoluntari" Level="1">
  <Info>
    <Name>Inscriere voluntari</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>InscriereVoluntari</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c7fe1010-5418-41f7-a9c1-e170e338b54f">InscriereVoluntari</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a238e10a-11c1-422d-a656-b15427752a6d</Key>
      <Name>continutul paginii</Name>
      <Alias>continutulPaginii</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inscriereVoluntari">Inscriere voluntari</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0df0e53-c9bf-4477-8a73-8c87af069301</Key>
      <Name>Titlul paginii</Name>
      <Alias>titlulPaginii</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inscriereVoluntari">Inscriere voluntari</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9a3babf7-bcc7-4635-ab50-b67b909e82d0</Key>
      <Caption>Inscriere voluntari</Caption>
      <Alias>inscriereVoluntari</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>