<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c03f892a-99e2-4e99-8429-74633db06178" Alias="listaContractori" Level="1">
  <Info>
    <Name>ListaContractori</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ListaContractori</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0f9ae513-5346-4d84-a575-5a99e56f07f5">ListaContractori</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ce7754a6-5304-4127-8c50-95400103171e" SortOrder="0">contractor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>