<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ecb0d11-bcf5-4807-8d3c-378490afdedb" Alias="listaGaluri" Level="1">
  <Info>
    <Name>ListaGaluri</Name>
    <Icon>icon-display color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ListaGaluri</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a56bbaf5-bf0b-4e4d-9ab6-89ebe7e6a487">ListaGaluri</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="faf91764-ec18-43dd-b605-d445a30c8e9d" SortOrder="0">gal</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>06376760-f844-44e8-9007-7c24bc4fdaef</Key>
      <Name>Cate galuri ar trebui afisate</Name>
      <Alias>cateGaluriArTrebuiAfisate</Alias>
      <Definition>9d5ba2c5-ed7a-41f8-b454-9fc65f48752e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="cateGaluriArTrebuiAfisate">Cate galuri ar trebui afisate</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1aa50235-949f-451e-be9b-30b08fc2a0d2</Key>
      <Caption>Cate galuri ar trebui afisate</Caption>
      <Alias>cateGaluriArTrebuiAfisate</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>