<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48dcf416-aa00-40c5-a2be-012e8feb40a8" Alias="logare" Level="1">
  <Info>
    <Name>Logare</Name>
    <Icon>icon-logout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Logare</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bcb87f3d-85c4-4767-ba85-4e1cda204842">Logare</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2f8783d5-8bb6-4904-9865-29fc4077837f</Key>
      <Name>continut pagina</Name>
      <Alias>continutPagina</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="logareSauInregistrare">Logare sau inregistrare</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ce0ed05-6b1f-4705-ad81-a324ba65eae9</Key>
      <Name>Titlu pagina</Name>
      <Alias>titluPagina</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="logareSauInregistrare">Logare sau inregistrare</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>fbd57495-2f7b-455f-9acf-639c975e310d</Key>
      <Caption>Logare sau inregistrare</Caption>
      <Alias>logareSauInregistrare</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>