<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="84e4672c-d394-4151-9fef-6c2414106933" Alias="membriiPJ" Level="1">
  <Info>
    <Name>MembriiPJ</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MembriiPJ</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a1b5c425-63b2-4f25-8455-52eaa35a23f0">MembriiPJ</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="187e166e-3e75-496f-ae32-25dab1a132ec" SortOrder="0">membruPJ</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>