<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7b787ccb-bd9a-47cb-9dce-b96fc82621b2" Alias="membriiPF" Level="1">
  <Info>
    <Name>MembriiPF</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MembriiPF</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ffe5a16c-8e63-4e13-903a-c58cf4aea193">MembriiPF</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4937e252-15bc-401a-9319-33d702e7407e" SortOrder="0">membruPF</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>