<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29b20b21-c66e-4c72-97a3-0ee9c8187d3b" Alias="paginaDeStiri" Level="1">
  <Info>
    <Name>Pagina de stiri</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>PaginaDeStiri</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c08bad6f-5eae-40dd-8bbe-f399e60a8cfe">PaginaDeStiri</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22f6694a-40b0-4b32-abe3-7517aa02933e</Key>
      <Name>titlu pagina de stiri</Name>
      <Alias>titluPaginaDeStiri</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="paginaDeStiri">Pagina de stiri</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>056660bc-ec1f-4786-93cb-de5180dc5dce</Key>
      <Caption>Pagina de stiri</Caption>
      <Alias>paginaDeStiri</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>