@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Biblioteca>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")


<div class="container">
    <div class="row ">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5">
                @*
            <div class="d-flex justify-content-around" style="text-align:end; flex-direction:column;">
                    <div>
                <h1 style="font-size:80px;"><strong>BIBLIOTECA</strong></h1><br />
                </div>
                <div>
                <h5 style="align-content:end">DOCUMENTE DE INTERES</h5>
                </div> 

            </div>
                *@
            <img src="/media/ef2fxsln/biblioteca.svg" style="width:80%; position:absolute; bottom:4.6rem;" />
            <br />
            <br />
        </div>
        <div class="col-lg-5 lh-15 fw-bold">
            <div class="row">
                <div class="col-1 p-2 pt-1">
                    <img src="/media/asxdhspf/iconita-carte4.svg" />
                </div>
                <div class="col-11">
                    <h5 style="font-weight:900;" class="pb-1">LOREM IPSUM DOLOR SIT AMET 1</h5>
                    <span>
                        Lorem ipsum dolor sit amet. consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet d010re magna aliquam. Lorem ipsum d010r sit
                        amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam. Lorern ipsum dolor sit amet, consectetuer
                        adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam.
                    </span>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-1 p-2 pt-1">
                    <img src="/media/asxdhspf/iconita-carte4.svg" />
                </div>
                <div class="col-11">
                    <h5 style="font-weight:900;" class="pb-1">LOREM IPSUM DOLOR SIT AMET 2</h5>
                    <span>
                        Lorem ipsum dolor sit amet. consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet d010re magna aliquam. Lorem ipsum d010r sit
                        amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam. Lorern ipsum dolor sit amet, consectetuer
                        adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam.
                    </span>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-1 p-2 pt-1">
                    <img src="/media/asxdhspf/iconita-carte4.svg" />
                </div>
                <div class="col-11">
                    <h5 style="font-weight:900;" class="pb-1">LOREM IPSUM DOLOR SIT AMET 3</h5>
                    <span>
                        Lorem ipsum dolor sit amet. consectetuer adipiscing elit, sed diam nonummy
                        nibh euismod tincidunt ut laoreet d010re magna aliquam. Lorem ipsum d010r sit
                        amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam. Lorern ipsum dolor sit amet, consectetuer
                        adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                        magna aliquam.
                    </span>
                </div>
            </div>
            <br />
            <br />
            <div class="d-flex justify-content-center align-items-center">
                <span class="icon-albastru buton-schimbare-pagina">1</span>
                <span class="buton-schimbare-pagina">2</span>
                <span class="buton-schimbare-pagina">3</span>
            </div>
        </div>
        <div class="col-lg-1"> </div>
    </div>
</div>

@* <div class="container text-center">
	@Model.ContinutulPaginii
</div> *@