@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Biblioteca>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")


<div class="container">
    <div class="row ">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-around" style="text-align:end; flex-direction:column;">
                <div>
                    <h1 style="font-size:80px;"><strong>BIBLIOTECA</strong></h1><br />
                </div>
                <div>
                    <h5 style="align-content:end">DOCUMENTE DE INTERES</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="/media/asxdhspf/iconita-carte4.svg" style="width:18px" /> <b>LOREM IPSUM CARTEA UNU</b><br />
            <div class="container" style="margin-inline-start:35%; margin-inline-end:50%">
                amioan aona aoi ao amioan aona aoi aoamioan aona aoi aoamioan aona aoi aoamioan  aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aona aoi ao amioan aona aoi ao
                aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aoi aoamioan aona aoi aoamioan aona aoi ao amioan aona aoi ao
            </div>
        </div>
        <div class="col-2"> </div>
    </div>
</div>


</section>


@* <div class="container text-center">
	@Model.ContinutulPaginii
</div> *@