@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Chatbot>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
}

<section class="d-flex justify-content-center h-100" style="padding-top:10%; padding-bottom:100px;">
	<iframe src="https://9edc-188-27-84-219.ngrok-free.app " style="min-height: 100% !important;min-width: 50%;"></iframe>
</section>