@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Chatbot>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
}

<section>
	<iframe src="https://9edc-188-27-84-219.ngrok-free.app " width="600" height="400"></iframe>
</section>