@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="w-100 d-flex justify-content-center">
    <div class="container text-center m-0 w-100">


        <div class="row w-100">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="coloana-noutati-stanga  d-flex align-items-center justify-content-center flex-column col-12">

                        <div class="d-flex flex-column align-items-center">
                            <div class="pb-3">
                            <img src="/media/mywhcni0/logo-albastru-circular.svg" style="width:5rem;" />
                            </div>
                            <h4 class="mt-0 mb-0">GENERAREA FORMULARULUI</h4>
                            <h1 class="mt-0 mb-3"><b>ANAF 230</b></h1>
                        </div>
                        <div class="w-33">
                            <div class="text-align-start">
                            <h5>Despre formular</h5>
                            </div>
                            <p class="lh-1">
                                Acest formular permite contribuabililor să redirecționeze
                                până Ia 3,5% din impozitul pe venit datorat statului către o
                                organizație non-guvernamentală.
                            </p>
                        </div>
                        <div>
                        <button type="button" class="btn btn-primary rounded-pill btn-lg mb-3" onclick="downloadPDF()">Descarcă PDF</button>
                        <button type="button" class="btn btn-secondary rounded-pill btn-lg">Încarcă formularul</button><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>


    </div>
</section>



@* <script>
    // Obține valoarea configurată din appsettings.json
    const documentePath = '@Configuration["Media:DocumentePath"]';

    function downloadPDF() {
        const link = document.createElement('a');
        link.href = `media/ibeh0jph/230-var1.pdf`; // Numele fișierului
        link.download = 'document.pdf'; // Numele fișierului la descărcare
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script> *@
<script>
    const documentePath = '@Configuration["Media:DocumentePath"]' || ''; // Valoarea configurată

    function downloadPDF() {
        const link = document.createElement('a');
        link.href = 'https://localhost:44323/media/ibeh0jph/230-var1.pdf'   //`${documentePath}/ibeh0jph/230-var1.pdf`; // URL complet
        link.download = 'document.pdf';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>