@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GDpr>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;

@{
    Layout = "master.cshtml";

    // Obține membrul curent
    var currentMember = await _memberManager.GetCurrentMemberAsync();
}

<link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="w-100 d-flex justify-content-center">
    <div class="container text-center m-0 w-100">
        <div class="row w-100">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="row d-flex justify-content-start mx-0">
                    <div class="w-max-content ps-4 mb-4 fs-2">
                        <p class="d-flex justify-content-start text-GDPR-mic mb-1">Politica de</p>
                        <p class="text-GDPR-mare display-6 mb-1">confidențialitate</p>
                        <div>
                            <p class="d-flex justify-content-end text-GDPR-mic">GDPR</p>
                        </div>
                    </div>
                </div>
                <div class="px-4 coloana-GDPR d-flex flex-column align-items-center">
                    <ul>
                        <li class="li-none">
                            &emsp;Când folosești serviciile noastre, ne încredințezi informațiile tale. Înțelegem că este o mare responsabilitate și ne străduim să le protejăm și să îți oferim putere de decizie în privința acestora.
                        </li>
                        <li class="li-none">
                            &emsp;Scopul acestei Politici de Confidențialitate este să îți explice ce informații colectăm, de ce le colectăm și cum poți să le actualizezi, gestionezi, exporți și să le ștergi.
                        </li>
                        <li class="li-none">
                            <b>CE DATE CU CARACTER PERSONAL PRELUCRĂM? CUM ARE LOC PRELUCRAREA?</b>
                        </li>
                        <li>
                            	Având în vedere specificul activității noastre, colectăm diverse date cu caracter personal de la clienții noștri în diferite modalități detaliate în acest document. În acest context, vă aducem la cunoștință că prin intermediul site-ului nostru putem prelucra următoarele date cu caracter personal:
                            <ul>
                                <li>
                                 Datele dumneavoastră de identificare: nume, prenume, adresa de domiciliu;
                                </li>
                                <li>
                                 Date de contact: număr de telefon, adresă de e-mail, adresă facturare, adresă de corespondență;
                                </li>
                                <li>
                                 Date personale specifice: cont bancar, date privind tranzacțiile referitoare la produsele / serviciile achiziționate și altele asemenea.
                                </li>
                            </ul>
                        </li>
                        <li>
                            	Datele cu caracter personal sunt colectate direct de la dumneavoastră, astfel încât aveți în orice moment controlul asupra tipului de informație pe care doriţi să ne-o oferiți. Cu titlu de exemplu, primim informații de la dvs. astfel: prin completarea formularelor de înscriere / comandă / creare cont etc.
                        </li>
                        <li>
                            	Putem, de asemenea, să colectăm și să prelucrăm anumite informații cu privire la comportamentul dvs. online în timpul vizitării site-ului nostru web, pentru a vă personaliza experiența online și a vă pune la dispoziție oferte adaptate profilului dvs. Vă invităm să aflați mai multe detalii în acest sens prin consultarea secțiunii privitoare la scopurile prelucrării de mai jos.
                        </li>
                        <li>
                            	Pe site-ul nostru putem stoca și colecta informații în cookie-uri și tehnologii similare, conform Politicii privind cookie-urile.
                        </li>
                        <li>
                            	Nu colectăm și nu prelucrăm date sensibile, astfel cum sunt acestea definite în Regulamentul general privind protecția datelor în categorii speciale de date cu caracter personal (cum ar fi date referitoare la sănătatea persoanei).
                        </li>
                        <li class="li-none"><b>TEMEIUL PRELUCRĂRII</b></li>
                        <li>
                            	Temeiul legal al prelucrării datelor cu caracter personal menţionate anterior este reprezentat de art. 6 lit. b) din Regulament, respectiv prelucrarea este necesară pentru executarea unui contract sau pentru a face demersuri la cererea persoanei vizate înainte de încheierea unui contract, respectiv art. 6 lit. f) din Regulament, conform căruia prelucrarea este necesară în scopul intereselor legitime urmărite de Operator, precum şi art. 6 lit. a) din Regulament, în concret, consimțământul expres, voluntar și liber exprimat al utilizatorului.
                        </li>
                        <li class="li-none">
                            <b>SCOPURILE PRELUCRĂRII</b>
                        </li>
                        <li>
                            Datele dvs. cu caracter personal vor fi prelucrate în următoarele scopuri specifice:
                        </li>
                        <li>
                            	În vederea prestării serviciilor de către platformă:
                            <ul>
                                <li class="li-none">
                                    Acest scop general poate include, după caz, următoarele:
                                </li>
                                <li>
                                 Crearea și administrarea contului în cadrul platformei noastre;
                                </li>
                                <li>
                                 Soluționarea problemelor de orice natură referitoare la o solicitare;
                                </li>
                                <li>
                                 Asigurarea serviciilor de suport, inclusiv oferirea de răspunsuri la întrebările dvs.
                                </li>
                            </ul>
                        </li>
                        <li>
                            	Pentru îmbunătățirea serviciilor noastre:
                            Lucrăm în mod constant la îmbunătățirea platformei noastre astfel încât aceasta să devină un instrument util în mâinile clienților noștri. În acest scop, putem colecta și utiliza anumite informații în legătură cu comportamentul dvs. pe site, vă putem invita să completați chestionare sau putem desfășura, direct sau cu ajutorul unor parteneri, studii și cercetări de piață.
                        </li>
                        <li>
                            	Pentru marketing
                            <ul>
                                <li>
                                 În situaţia în care vă exprimaţi acordul expres, vă putem trimite orice tip de mesaj (cum ar fi: e-mail/SMS/mobile push/webpush etc.), conținând informații generale și tematice, informații cu privire la alte produse care v-ar putea interesa, precum și alte comunicări comerciale cum ar fi cercetări de piață și sondaje de opinie. De asemenea, putem afișa recomandări personalizate pentru dumneavoastră pe site-ul nostru web.
                                </li>
                                <li>
                                 În anumite circumstanţe, ne putem baza activitățile de marketing pe interesul nostru legitim de a ne promova și dezvolta activitatea. În orice situație în care folosim informații cu privire la dvs. pentru un interes legitim al nostru, avem grijă și luăm toate măsurile necesare pentru ca drepturile și libertățile dvs. fundamentale să nu fie afectate. Cu toate acestea, ne puteți solicita oricând, prin mijloacele descrise în prezentul document, să oprim prelucrarea datelor dvs. cu caracter personal în scop de marketing, urmând să dăm curs cererii dvs. în cel mai scurt timp posibil.
                                </li>
                            </ul>
                        </li>
                        <li>
                            	Pentru apărarea intereselor noastre legitime
                            <ul>
                                <li>
                                 Pot exista situații în care vom folosi sau transmite informațiile colectate pentru a ne proteja drepturile și activitatea comercială. Acestea pot include, dar fără a se limita la:
                                    <ul>
                                        <li>
                                            Măsuri de protecție a site-ului web și a utilizatorilor platformei noastre față de eventuale atacuri cibernetice;
                                        </li>
                                        <li>
                                            Măsuri de prevenire și detectare a tentativelor de fraudare, inclusiv transmiterea unor informații către autoritățile publice competente;
                                        </li>
                                        <li>
                                            Măsuri de gestionare a altor tipuri de riscuri.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <b>
                                CÂT TIMP PĂSTRĂM DATELE DVS. CU CARACTER PERSONAL?
                            </b>
                        </li>
                        <li>
                            	Ca regulă generală, vom stoca datele dvs. cu caracter personal cât timp aveți un cont pe platforma noastră, cât timp derulăm relații și cât ne sunt necesare pentru realizarea drepturilor și obligaților născute din această relație (perioada de implementare și sustenabilitate a proiectului SMIS 308649 etc.). Puteți să ne solicitați oricând ștergerea anumitor informații sau închiderea contului și vom da curs acestor solicitări, sub rezerva păstrării anumitor informații inclusiv ulterior închiderii contului, în situațiile în care legislația aplicabilă sau interesele noastre legitime o impun.
                        </li>
                        <li>
                            	Revizuim datele pe care le colectăm, cel puțin o dată la doi ani, analizând în ce măsură păstrarea lor este necesară scopurilor menționate, intereselor dvs. legitime sau îndeplinirii obligațiilor legale care ne incumbă.
                        </li>
                        <li class="li-none">
                            <b>
                                CUI TRANSMITEM DATELE DVS. CU CARACTER PERSONAL?
                            </b>
                        </li>
                        <li>
                            	Putem transmite sau oferi acces la anumite date cu caracter personal pe care dumneavoastră ni le-aţi pus la dispoziţie următoarelor categorii de destinatari:
                            <ul>
                                <li>
                                 AM PEO/ OIR;
                                </li>
                                <li>
                                 Furnizorilor de servicii de marketing;
                                </li>
                                <li>
                                 Furnizorilor de servicii de cercetare de piață;
                                </li>
                                <li>
                                 Furnizorilor de servicii IT;
                                </li>
                                <li>
                                 Altor categorii de entități de control.
                                </li>
                            </ul>
                        </li>
                        <li>
                            	În cazul în care ne revine o obligație legală sau dacă este necesar pentru a ne apăra un interes legitim, vom divulga anumite date cu caracter personal unor autorități publice abilitate în asemenea domenii și care pot pretinde acces la date în condițiile legii.
                        </li>
                        <li class="li-none">
                            <b>
                                DREPTURILE DUMNEAVOASTRĂ
                            </b>
                        </li>
                        <li>
                                <ul>
                                <li class="li-none">
                            	Regulamentul general privind protecția datelor vă recunoaște o serie de drepturi în legătură cu datele dvs. cu caracter personal, printre care se numără:
                                    </li>
                            <li>
                             Dreptul la informare – puteți solicita informații privind activitățile de prelucrare a datelor dvs. personale, privind identitatea operatorliui și a reprezentantliui acestuia sau cu privire la destinatarii datelor dvs.;
                            </li>
                            <li>
                             Dreptli la rectificare – puteți rectifica datele personale inexacte sau le puteți completa;
                            </li>
                            <li>
                             Dreptli la ștergerea datelor – puteți obține ștergerea datelor, în cazli în care prelucrarea acestora nu a fost legală sau în alte cazuri prevăzute de lege;
                            </li>
                            <li>
                             Dreptli la restricționarea prelucrării – puteți solicita restricționarea prelucrării în cazli în care contestați exactitatea datelor, precum şi în alte cazuri prevăzute de lege;
                            </li>
                            <li>
                             Dreptli de opoziție – vă puteți opune, în special, prelucrărilor de date care se întemeiază pe interesli legitim al Operatorliui;
                            </li>
                            <li>
                             Dreptli la portabilitatea datelor – puteți primi, în anumite condiții, datele personale pe care ni le-ați furnizat, într-un format care poate fi citit automat sau puteți solicita ca respectivele date să fie transmise altui operator;
                            </li>
                            <li>
                             Dreptli de a depune plângere și de a vă adresa instanțelor judecătorești – puteți depune plângere faţă de modalitatea de prelucrare a datelor personale la Autoritatea Națională de Supraveghere a Prelucrării Datelor cu Caracter Personal și / sau vă puteți adresa instanțelor judecătorești pentru respectarea drepturilor dvs.;
                            </li>
                            <li>
                             Dreptli de retragere a consimțământliui – în cazurile în care prelucrarea se întemeiază pe consimțământli dvs., vi-l puteți retrage oricând. Retragerea consimțământliui va avea efecte doar pentru viitor, prelucrarea efectuată anterior retragerii rămânând în continuare valabilă;
                            </li>
                            <li>
                             Dreptli de a nu fi supus unor decizii automate sau profilare suplimentare aferente deciziilor automate: puteți cere și obține intervenția umană cu privire la respectiva prelucrare sau vă puteți exprima proprili punct de vedere cu privire la acest tip de prelucrare.
                            </li>
                                </ul>
                        </li>
                        <li>
                            	Fără a vă afecta dreptul dvs. de a contacta în orice moment Autoritatea de Supraveghere (ANSPDCP), vă rugăm să ne contactați în prealabil și vă asigurăm că vom depune toate diligenţele necesare pentru a rezolva orice problemă pe cale amiabilă.
                        </li>
                        <li>
                            	Puteți sa ne contactati în orice moment cu privire la prelucrarea și protecția datelor prin transmiterea solicitării dvs. prin oricare dintre următoarele modalități:
                            <ul>
                                <li>
                                 prin e-mail la adresa: ............................... sau
                                </li>
                                <li>
                                 prin poștă sau curier la adresa: Mun. Bucuresti, bd. Dinicu Golescu, nr. 21, ap. 24, sector 1.
                                </li>
                            </ul>
                        </li>
                        <li class="li-none">
                            <b>
                                CUM PROTEJĂM SECURITATEA DATELOR DVS. CU CARACTER PERSONAL?
                            </b>
                        </li>
                        <li>
                            	Asigurăm securitatea datelor cu caracter personal implementând diverse proceduri fizice, electronice și administrative în vederea protejării informațiilor pe care le colectăm. Transmiterea datelor dvs. cu caracter personal se face folosind algoritmi de criptare de ultimă generație, datele fiind stocate pe servere securizate.
                        </li>
                        <li>
                            	Accesul la datele cu caracter personal se acordă numai personalului autorizat al Asociatiei PRO Unesco sau colaboratorilor autorizați și numai pentru îndeplinirea sarcinilor specifice pentru a răspunde scopurilor menționate, sub obligația păstrării confidențialității lor.
                        </li>
                        <li>	În cazul apariţiei unei breşe a securității datelor cu caracter personal, avem obligaţia legală de a respecta normele specifice în domeniu, respectiv de a notifica breșa de securitate atât dumneavoastră, cât și Autorității Naționale de Supraveghere a Prelucrării Datelor cu Caracter Personal, în termen de 72 ore de la producerea acesteia.</li>
                    </ul>

                    <div class="d-flex flex-column align-items-center justify-content-center gap-2 mt-5 w-max-content mb-3">
                        @if (currentMember != null)
                        {
                            <button id="agreeButton" type="submit" class="btn btn-primary px-5" onclick="agreeToTerms()">Sunt de acord</button>
                            <button id="checkIcon" type="button" class="btn btn-secondary px-5" style="display:none;">
                                <img src="/media/sscj4k5y/check-iconita.svg" alt="Check" />
                            </button>
                        }
                        else
                        {
                            <script>
                                window.location.href = "/logare"; // Redirecționare spre pagina de logare
                            </script>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>
<section>
    <iframe src="http://localhost:8501/" width="600" height="400"></iframe>
</section>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const hasAgreed = document.cookie.split('; ').find(row => row.startsWith('HasAgreedTerms='));
        if (hasAgreed && hasAgreed.split('=')[1] === 'true') {
            document.getElementById('agreeButton').style.display = 'none';
            document.getElementById('checkIcon').style.display = 'block';
        }
    });


    function agreeToTerms() {
        // 30 de zile
        document.cookie = "HasAgreedTerms=true; path=/; max-age=" + 60 * 60 * 24 * 30;

        // ascund sunt de acord si afisez bifa
        document.getElementById('agreeButton').style.display = 'none';
        document.getElementById('checkIcon').style.display = 'block';
    }
</script>
