@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PaginaDeStiri>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using System.Xml.XPath;
@using System.Xml;
@{
	Layout = "master.cshtml";
}


@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<div class="container container-fluid text-center">
	<h3>Știri din activitatea Grupurilor de Acțiune Locală</h3>
	<link rel="alternate" type="application/rss+xml" href="/url/to/feedpage" title="RSS Feed for x">
</div>




@{
    //Fetch RSS XML
    XmlTextReader udBrudRSS = new XmlTextReader("https://news.google.com/rss/search?q=gal,dezvoltare,locala&hl=ro-RO");

    //Create new XML document
    XmlDocument doc = new XmlDocument();

    //Load in our remote XML into our XML document
    doc.Load(udBrudRSS);

    //Select our nodes we want with some xPath
    XmlNodeList rssItems = doc.SelectNodes("//item");

}
<ul>
    @{
        //For each item node we can then ouput what we want
        foreach (XmlNode node in rssItems)
        {
            <li>
                <div class="date">@node["pubDate"].InnerText</div>
                @node["title"].InnerText<br />
                <a href="@node["link"].InnerText">DETALII</a>
                
            </li>
        }
    }
</ul>
