@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Termene>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "master.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")


<section class="w-100 d-flex justify-content-center">
    <div class="container text-center m-0 w-100">


        <div class="row w-100">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center align-items-center">
                        <div class="d-flex flex-column justify-content-end">
                            <div class="text-termene-mare">
                                Termene
                            </div>
                            <div class="d-flex justify-content-end text-termene-mic">
                                și Condiții
                            </div>
                        </div>
                    </div>
                    <div class="col-8 coloana-noutati-stanga">
                        <b>TERMENI SI CONDITII DE UTILIZARE</b> <br /><br />
                        <b>1. Descrierea serviciului</b><br /><br />
                        1.1. Platforma galosfera.go.ro a fost dezvoltată de Asociația Pro Unesco, de către compania ca o soluție complet digitală prin care să se gestioneze informațiile referitoare la organizațiile membre în cadrul proiectului (denumite in cele ce urmează „utilizator”), precum și a membrilor acestora, inclusiv instrumente de colectare a cotizațiilor/ facilităților fiscale.<br /><br />
                        1.2. Utilizarea platformei galosfera.go.ro se face completând datele despre organizație în formularul de înregistrare, cu datele specifice (Denumire asociatie, logo, o scurta descriere, telefon, website, CIF si contul bancar).<br />
                        Acesta contine datele esentiale pe care contribuabilul le completeaza in declaratia 230 si care ia forma unui formular pe care ONG-ul il poate:<br />
                        - transmite ca link de tipul www.formular230.ro/nume-organizatie  catre contribuabili<br />
                        - incorpora in propriul site.<br /><br />
                        <b>2. Acceptarea Termenilor</b><br /><br />
                        2.1. Prin utilizarea platformei galosfera.go.ro (care va fi numita in continuare „Platforma”) oferita prin intermediul Asociatiei Pro Unesco sunteti de acord sa respectati termenii si conditiile ce urmeaza, precum si toate amendamentele la acestia.<br /><br />
                        <b>3. Cadru general si drepturi de proprietate</b><br /><br />
                        3.1. Platforma galosfera.go.ro este detinuta si administrata de catre Asociatia Pro Unesco. Acesti termeni si conditii definesc modul in care puteti folosi aceasta platforma si serviciile aferente. Acesti termeni si conditii pot suferi modificari pe parcursul perioadei de functionare a platformei, in functie de schimbarile intervenite in functionarea acesteia, in ceea ce priveste legislatia aplicabila sau din orice alta cauza considerata de catre noi ca fiind generatoare de modificari. Ramane in responsabilitatea dumneavoastra sa accesati si sa verificati acest document in momentul in care accesati platforma online.<br /><br />
                        3.2. Intregul continut al platformei galosfera.go.ro este protejat prin Legea nr. 8/1996 privind dreptul de autor si drepturile conexe, toate drepturile fiind rezervate Asociatiei PRO Unesco.<br /><br />
                        3.3. Este interzisa orice reproducere, distribuire, transmitere, transferare, prezentare, difuzare, creare de opere secundare, vanzare, inchiriere, licentiere sau publicare de materiale de pe platforma (indiferent de modalitatea de realizare a respectivelor activitati sau de suportul pe care s-ar salva materialele in vederea indeplinirii actiunilor mentionate anterior) de catre orice terta persoana, indiferent daca este pentru un scop direct comercial sau de oricare alta natura, fara acordul scris prealabil din partea PRO Unesco. Descarcarea sau copierea prin orice metode a materialelor de pe platforma nu transfera catre persoana in cauza licenta programelor de software sau drepturile asupra materialelor de pe platforma.<br /><br />
                        3.4. Asociatia PRO Unesco isi rezerva dreptul de a elimina orice postare de pe prezentul portal in cazul in care constata ca aceasta incalca legea, bunele moravuri ori depaseste scopul/ obiectul declarat al acestui portal.<br /><br />
                        <b>4. Conditii tehnice de utilizare a platformei galosfera.go.ro</b><br /><br />
                        4.1. Platforma galosfera.go.ro ofera accesul utilizatorilor pe dispozitivele mobile si desktop la resursele informationale oferite de platforma.<br /><br />
                        4.2. Pentru ca utilizatorul sa poata accesa platforma galosfera.go.ro si sa beneficieze de serviciile oferite de aceasta, este necesara o conexiune la internet adecvata si un dispozitiv prin care sa se acceseze continutul. In lipsa conexiunii adecvate, a conditiilor tehnice si a programelor necesare, este posibil ca utilizatorul sa nu poate beneficia de servicii.<br /><br />
                        4.3. Asociatia PRO Unesco si platforma galosfera.go.ro nu sunt si nu pot fi raspunzatoare pentru functionarea nepotrivita sau a indisponibilitatii serviciilor din cauza problemelor legate de retelele de telecomunicatii ale partilor terte sau incompatibilitatii dispozitivelor folosite de utilizator.<br /><br />
                        4.4. Utilizatorul va utiliza serviciile intr-un mod adecvat, astfel incat sa nu cauzeze probleme in function-area normala a platformei galosfera.go.ro.<br /><br />
                        4.5. Functionarea platformei galosfera.go.ro este descrisa in sectiunea “Cum functioneaza?” a website-ului.<br /><br />
                        <b>5. Costul Serviciilor.</b><br /><br />
                        5.1. Platforma galosfera.go.ro este pusa la dispozitia utilizatorilor in mod gratuit de catre Asociatia PRO Unesco.<br /><br />
                        <b>6. Alte clauze</b><br /><br />
                        6.1. Utilizatorul consimte sa utilizeze serviciile conform prezentelor termeni si conditii, in scopuri necomerciale.<br /><br />
                        6.2. Prin utilizarea platformei galosfera.go.ro, utilizatorul declara ca intelege si accepta faptul ca Asociatia PRO Unesco NU isi asuma nicio responsabilitate cu privire la modul de completare a formularelor 230, la prelucrarea datelor cu caracter personal inscrise in aceste formulare, si nici cu privire la directionarea acestora de la ONG la contribuabil si invers, ori de la contribuabil sau ONG catre ANAF sau orice alta terta parte.<br /><br />
                        6.3. De asemenea, Asociatia PRO Unesco si platforma galosfera.go.ro NU isi asuma nicio responsabilitate cu privire la legalitatea completarii, semnarii, colectarii, transmiterii acestor formulare catre ANAF platforma avand doar un scop de instrument tehnic, intreaga raspundere cu privire respectarea legislatiei in vigoare cu privire la formularul 230 revenind exclusiv utilizatorului.<br /><br />
                        Prin accesarea și utilizarea acestui site web, sunteți de acord cu prelucrarea datelor dvs. Datele sunt prelucrate în conformitate cu obligația legală impusă de legislația în vigoare, asigurând respectarea cerințelor legale și îndeplinirea obligațiilor prevăzute de normele și regulamentele aplicabile.<br /><br />
                        Datele cu caracter personal ale dvs. sunt esențiale pentru atingerea unui scop specific, și anume completarea și expedierea formularului 230, în vederea redirecționării a 3,5% din impozitul pe venit către organizații non-guvernamentale, conform reglementărilor Administrației Naționale de Administrare Fiscală (ANAF). Nu prelucrăm datele dvs. în alte scopuri decât cel menționat anterior.<br /><br />
                        Păstrăm datele dvs. în siguranță și le protejăm împotriva accesului neautorizat, modificării sau dezvăluirii. Nu vom partaja datele dvs. cu terți în afara necesității de a îndeplini procesul de redirecționare a impozitului. Utilizăm măsuri tehnice și organizatorice pentru a asigura protecția datelor dvs.<br /><br />
                        Prin utilizarea platformei galosfera.go.ro, utilizatorul confirmă că înțelege și acceptă că Asociația PRO Unesco nu poartă nicio responsabilitate în legătură cu modul în care sunt completate formularele 230, cu prelucrarea datelor cu caracter personal înscrise în aceste formulare sau cu direcționarea acestora între organizația non-guvernamentală și contribuabil, precum și invers, sau între contribuabil sau organizația non-guvernamentală și ANAF sau oricare altă parte terță.<br /><br />
                        De asemenea, Asociația PRO Unesco și platforma galosfera.go.ro nu își asumă nicio responsabilitate cu privire la legalitatea completării, semnării, colectării și transmiterii acestor formulare către ANAF. Platforma are exclusiv un scop tehnic, servind drept instrument, iar întreaga responsabilitate pentru respectarea legislației în vigoare referitoare la Formularul 230 revine în mod exclusiv utilizatorului.<br /><br />
                        Pentru informații suplimentare sau detalii, vă rugăm să ne contactați la adresa ......................

                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>


    </div>
</section>
