<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3456147-3e0f-42e2-b35a-4d89082937cb" Alias="Contractor - Email - Email address" Level="1">
  <Info>
    <Name>Contractor - Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>