<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b6a45e7-44ba-430d-9da5-4e46060b9e03" Alias="Dropdown" Level="1">
  <Info>
    <Name>Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "competente antreprenoriale"
    },
    {
      "id": 2,
      "value": "competente digitale"
    },
    {
      "id": 3,
      "value": "consilier vocational"
    },
    {
      "id": 4,
      "value": "cursuri calificare"
    },
    {
      "id": 5,
      "value": "expert accesare fonduri europene"
    },
    {
      "id": 6,
      "value": "expert achizitii publice"
    },
    {
      "id": 7,
      "value": "expert egalitate de sanse"
    },
    {
      "id": 8,
      "value": "formator"
    },
    {
      "id": 9,
      "value": "limbi straine"
    },
    {
      "id": 10,
      "value": "manager de proiect"
    },
    {
      "id": 11,
      "value": "marketing digital - specialist social media"
    },
    {
      "id": 12,
      "value": "responsabil date cu caracter personal"
    },
    {
      "id": 13,
      "value": "responsabil de mediu"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>