<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="Dropdown multiple" Level="1">
  <Info>
    <Name>Dropdown multiple</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "formare profesionala ANC"
    },
    {
      "id": 2,
      "value": "formare profesionala neacreditata"
    },
    {
      "id": 3,
      "value": "servicii mediere si ocupare"
    },
    {
      "id": 4,
      "value": "organizare de evenimente"
    },
    {
      "id": 5,
      "value": "furnizare de echipamente IT"
    },
    {
      "id": 6,
      "value": "furnizare de consumabile"
    },
    {
      "id": 7,
      "value": "servicii de dezvoltare aplicatii IT"
    },
    {
      "id": 8,
      "value": "furnizare de mobilier"
    },
    {
      "id": 9,
      "value": "leasing auto"
    }
  ],
  "Multiple": true
}]]></Config>
</DataType>