<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cf21859-2ddb-48fc-81c4-343456c48073" Alias="Eveniment - Localizare eveniment - Open Street Map" Level="1">
  <Info>
    <Name>Eveniment - Localizare eveniment - Open Street Map</Name>
    <EditorAlias>Bergmania.OpenStreetMap</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowClear": true,
  "defaultPosition": null,
  "scrollWheelZoom": true,
  "showCoordinates": true,
  "showSearch": true,
  "showSetMarkerByCoordinates": true,
  "tileLayer": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  "tileLayerAttribution": "Map data © OpenStreetMap contributors"
}]]></Config>
</DataType>