<?xml version="1.0" encoding="utf-8"?>
<DataType Key="235fb827-a7d4-44fe-a9a6-d5986d7898c7" Alias="Formator - email - Email address" Level="1">
  <Info>
    <Name>Formator - email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>