<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ee59400-84e7-44ed-ac05-839851f008d1" Alias="Gal - adauga membru - Member Group Picker" Level="1">
  <Info>
    <Name>Gal - adauga membru - Member Group Picker</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>