<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d22817b-75ea-4ce8-a869-6ab69d50dd59" Alias="Gal - adauga mai multi - Multinode Treepicker" Level="1">
  <Info>
    <Name>Gal - adauga mai multi - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "membruPF,membruPJ",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 50,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/ca4249ed2b234337b52263cabe5587d1",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>