<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb3ae67f-0323-49cf-a5d2-bcc3bf8593ab" Alias="Gal - email persoana fizica - Email address" Level="1">
  <Info>
    <Name>Gal - email persoana fizica - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>