<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52a32740-205b-4ec6-a9a7-fde1ee514aba" Alias="Gal - email membru juridic - Email address" Level="1">
  <Info>
    <Name>Gal - email membru juridic - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>