<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a81fb404-67a0-4c34-9158-6fe6c6d7abcd" Alias="GalPins - LocalizareGal - Google Maps Single Marker" Level="1">
  <Info>
    <Name>GalPins - LocalizareGal - Google Maps Single Marker</Name>
    <EditorAlias>Our.Umbraco.GMaps</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "apikey": "AIzaSyAbTfjHOb2Ro7M4_JtBKy7mii6E8WvMUXk",
  "location": "44.439663, 26.096306",
  "zoom": 14,
  "maptype": "hybrid"
}]]></Config>
</DataType>