<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a64c285c-65e6-46d2-aa98-d8e77e8199fc" Alias="Home - HartaGal - Open Street Map (1)" Level="1">
  <Info>
    <Name>Home - HartaGal - Open Street Map (1)</Name>
    <EditorAlias>Bergmania.OpenStreetMap</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowClear": true,
  "defaultPosition": null,
  "scrollWheelZoom": true,
  "showCoordinates": true,
  "showSearch": true,
  "showSetMarkerByCoordinates": true,
  "tileLayer": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  "tileLayerAttribution": "Map data © OpenStreetMap contributors"
}]]></Config>
</DataType>