<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41eb2f2f-dce4-4bd7-9ba1-8ee065f48e49" Alias="Localizare GAL in Noutati" Level="1">
  <Info>
    <Name>Localizare GAL in Noutati</Name>
    <EditorAlias>Bergmania.OpenStreetMap</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowClear": true,
  "defaultPosition": {
    "boundingBox": {
      "northEastCorner": {
        "latitude": 54.9758280311309,
        "longitude": -1.61797285079956
      },
      "southWestCorner": {
        "latitude": 54.9709017171977,
        "longitude": -1.64112567901611
      }
    },
    "marker": {
      "latitude": 54.975556,
      "longitude": -1.621667
    },
    "zoom": 16
  },
  "scrollWheelZoom": true,
  "showCoordinates": true,
  "showSearch": true,
  "showSetMarkerByCoordinates": true,
  "tileLayer": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  "tileLayerAttribution": "Map data © OpenStreetMap contributors"
}]]></Config>
</DataType>