<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8474dcd-43ff-4d71-8fe7-d3bce9c807e4" Alias="MembruPF - Email - Email address" Level="1">
  <Info>
    <Name>MembruPF - Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>