<?xml version="1.0" encoding="utf-8"?>
<DataType Key="017b7e7e-ecee-435f-9d6c-98deefac171b" Alias="Person - Activitati - Radio button list" Level="1">
  <Info>
    <Name>Person - Activitati - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Activitate 1"
    },
    {
      "id": 2,
      "value": "Activitate 2"
    },
    {
      "id": 3,
      "value": "Activitate 3"
    },
    {
      "id": 4,
      "value": "Activitate 4"
    }
  ]
}]]></Config>
</DataType>