<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e13699df-cd71-4a91-be5a-3070d48692c1" Alias="Person - Radio button list" Level="1">
  <Info>
    <Name>Person - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Activitate 1"
    },
    {
      "id": 2,
      "value": "Activitate 2"
    },
    {
      "id": 3,
      "value": "Activitate 3"
    },
    {
      "id": 4,
      "value": "Activitate 4"
    }
  ]
}]]></Config>
</DataType>