body {
    background-image: url("/media/tjvlamcc/wall-pagina-biblioteca4.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.lh-15{
    line-height: 1.2rem !important;
}
section{
    height:0px !important;
}
.buton-schimbare-pagina{
    background-color:lightgray;
    color:white;
    font-weight:bolder;
    border-radius:50%;
    border-style:none;
    width:2rem;
    height:2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:0.3rem;
    margin-right:0.3rem;
}
.col-12 img{
    border-radius:0;
}

.active {
    background-color: var(--culoare-albastra) !important;
}
.section{
    padding:0 !important;
}
#item-container{
    padding-top:8%;
}