:root {
    --culoare-albastra: #0047BA;
}

body {
    font-family: 'Inter', sans-serif;
}
@media (min-width: 1500px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-3xl {
        max-width: 1420px;
    }
}
@media (min-width: 1700px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-3xl, .container-4xl {
        max-width: 1620px;
    }
}
@media (min-width: 1900px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, .container-3xl, .container-4xl, .container-5xl {
        max-width: 1800px;
    }
}
.footer-container-fixed-bottom {
    bottom: 0;
    position: fixed;
}