body {
    background-image: url("/media/tkslekng/wall-profil-voluntar3.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.textProfilVoluntar{
    display:flex;
    font-size:5rem;
    text-align:start;
    font-weight:900;
    margin-left:-10rem;
    color:black;
    line-height:1;
}
.col-6 .row{
    margin-left:0 !important;
    margin-right:0 !important;
}