<?xml version="1.0" encoding="utf-8"?>
<Media Key="257d496e-84e7-4790-bc9b-1ec6795a9b9d" Alias="230 Var1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Var1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-11-04T11:19:32</CreateDate>
    <NodeName Default="230 Var1" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ibeh0jph/230-var1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>