<?xml version="1.0" encoding="utf-8"?>
<Media Key="90a88234-ffdd-49e5-8425-8a7b36338897" Alias="230" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-07-24T11:55:02</CreateDate>
    <NodeName Default="230" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dkbkreg3/230.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>