<?xml version="1.0" encoding="utf-8"?>
<Media Key="a221c65c-bea5-4e59-9900-8e78fea0feaa" Alias="Adresa AFIR 3.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/AdresaAFIR3pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-11T16:38:12</CreateDate>
    <NodeName Default="Adresa AFIR 3.pdf" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/Adresa AFIR 3.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>