<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9f4b272-d600-4c88-82d0-bb2185e65724" Alias="ASOCIATIA GRUPUL DE ACTIUNE LOCALA VALEA BUDUREASCA_230.pdf (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/ASOCIATIAGRUPULDEACTIUNELOCALAVALEABUDUREASCA_230pdf1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-01-24T14:18:48</CreateDate>
    <NodeName Default="ASOCIATIA GRUPUL DE ACTIUNE LOCALA VALEA BUDUREASCA_230.pdf (1)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/ASOCIATIA GRUPUL DE ACTIUNE LOCALA VALEA BUDUREASCA_230.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>