<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a071c54-2f4b-4e36-90ae-3023bb724901" Alias="ASOCIAȚIA GRUPUL DE ACȚIUNE LOCALĂ PROGRESSIO_Apel_Selectie-7.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/ASOCIATIAGRUPULDEACTIUNELOCALAPROGRESSIO_Apel_Selectie7pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-11T09:34:43</CreateDate>
    <NodeName Default="ASOCIAȚIA GRUPUL DE ACȚIUNE LOCALĂ PROGRESSIO_Apel_Selectie-7.pdf" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/ASOCIAȚIA GRUPUL DE ACȚIUNE LOCALĂ PROGRESSIO_Apel_Selectie-7.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>