<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ae0b30d-5232-4f5b-9928-250016681591" Alias="ASOCIAȚIA MICROREGIONALĂ ȚARA FĂGETULUI_Apel_Selectie.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/ASOCIATIAMICROREGIONALATARAFAGETULUI_Apel_Selectiepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-09T13:25:45</CreateDate>
    <NodeName Default="ASOCIAȚIA MICROREGIONALĂ ȚARA FĂGETULUI_Apel_Selectie.pdf" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/ASOCIAȚIA MICROREGIONALĂ ȚARA FĂGETULUI_Apel_Selectie.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>