<?xml version="1.0" encoding="utf-8"?>
<Media Key="67a7e6f7-7d6c-4c24-918f-154f220985f6" Alias="ASOCIATIA GRUPUL DE ACTIUNE LOCALA CALUGARA_Apel_Selectie-1.pdf (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/ASOCIATIAGRUPULDEACTIUNELOCALACALUGARA_Apel_Selectie1pdf1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-09T13:17:25</CreateDate>
    <NodeName Default="ASOCIATIA GRUPUL DE ACTIUNE LOCALA CALUGARA_Apel_Selectie-1.pdf (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/ASOCIATIA GRUPUL DE ACTIUNE LOCALA CALUGARA_Apel_Selectie-1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>