<?xml version="1.0" encoding="utf-8"?>
<Media Key="09b405f3-f3dd-4cee-b8e6-260c802b9245" Alias="ASOCIATIA GRUPUL DE ACTIUNE LOCALA VALEA BUDUREASCA_230.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/ASOCIATIAGRUPULDEACTIUNELOCALAVALEABUDUREASCA_230pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-01-24T10:22:31</CreateDate>
    <NodeName Default="ASOCIATIA GRUPUL DE ACTIUNE LOCALA VALEA BUDUREASCA_230.pdf" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/ASOCIATIA GRUPUL DE ACTIUNE LOCALA VALEA BUDUREASCA_230.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>