<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1c5ce12-55e7-4581-b653-01ff44eac1c7" Alias="ASOCIATIA GRUPUL DE ACTIUNE LOCALA COLINELE OLTENIEI_230.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/ASOCIATIAGRUPULDEACTIUNELOCALACOLINELEOLTENIEI_230pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-01-24T18:21:39</CreateDate>
    <NodeName Default="ASOCIATIA GRUPUL DE ACTIUNE LOCALA COLINELE OLTENIEI_230.pdf" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/ASOCIATIA GRUPUL DE ACTIUNE LOCALA COLINELE OLTENIEI_230.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>