<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bf64af9-7a35-44d0-a977-952f9658f24a" Alias="Asset 109" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Asset109</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-12-03T21:15:44</CreateDate>
    <NodeName Default="Asset 109" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zbfpmwzv/asset-109.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>