<?xml version="1.0" encoding="utf-8"?>
<Media Key="d45d17cc-bf48-4860-9fc4-db6968835828" Alias="Asset Nou 109" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssetNou109</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-12-12T15:19:42</CreateDate>
    <NodeName Default="Asset Nou 109" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5ulf1vci/asset_nou_109.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>