<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e661c1c-724a-4b93-b296-79dea6ae9295" Alias="Asset Nou 109 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssetNou1091</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-12-13T09:38:07</CreateDate>
    <NodeName Default="Asset Nou 109 (1)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fuogmdsk/asset_nou_109.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>