<?xml version="1.0" encoding="utf-8"?>
<Media Key="85d78154-85aa-4723-8d6e-050603448beb" Alias="Avatar Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AvatarIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T10:55:20</CreateDate>
    <NodeName Default="Avatar Icon" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mwanpbnk/avatar-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>