<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e149446-a1b7-42f5-9656-ef8f87bfebfd" Alias="Biblioteca" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Biblioteca</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-08T19:56:05</CreateDate>
    <NodeName Default="Biblioteca" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties />
</Media>