<?xml version="1.0" encoding="utf-8"?>
<Media Key="c95b7810-4f6d-4fff-9684-055626efff09" Alias="Biblioteca" Level="2">
  <Info>
    <Parent Key="5c2f6a60-3cb2-4790-9464-961de4eee128">Texte</Parent>
    <Path>/Texte/Biblioteca</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-18T11:29:59</CreateDate>
    <NodeName Default="Biblioteca" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ef2fxsln/biblioteca.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>