<?xml version="1.0" encoding="utf-8"?>
<Media Key="34b3df46-2c86-4aa3-a114-8c850f7dbbfc" Alias="Calendar1" Level="2">
  <Info>
    <Parent Key="dd41d3fa-a70c-4440-bdf9-2fb8230362de">IconDreapta</Parent>
    <Path>/IconDreapta/Calendar1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-25T15:09:51</CreateDate>
    <NodeName Default="Calendar1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o5plgneg/calendar1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>