<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff3e3679-c6c3-4eb2-87ba-0c9267f41172" Alias="Calendar2" Level="2">
  <Info>
    <Parent Key="dd41d3fa-a70c-4440-bdf9-2fb8230362de">IconDreapta</Parent>
    <Path>/IconDreapta/Calendar2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-29T09:43:34</CreateDate>
    <NodeName Default="Calendar2" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ja1d354d/calendar2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>