<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc31d969-d2a2-47c2-a20b-071b5bec4382" Alias="CerereTelemunca.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/CerereTelemuncapdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-11T09:54:25</CreateDate>
    <NodeName Default="CerereTelemunca.pdf" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/CerereTelemunca.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>