<?xml version="1.0" encoding="utf-8"?>
<Media Key="5caf1e40-5a49-4279-8476-932437cbea96" Alias="CF_DR36_Mixta (1).pdf (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/CF_DR36_Mixta1Pdf1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-11T09:48:43</CreateDate>
    <NodeName Default="CF_DR36_Mixta (1).pdf (1)" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/CF_DR36_Mixta (1).pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>