<?xml version="1.0" encoding="utf-8"?>
<Media Key="765d29ea-8e7a-4702-9203-947d9991d8a9" Alias="CF_DR36_Mixta (1).pdf (1) (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/CF_DR36_Mixta1Pdf11</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-10T17:05:51</CreateDate>
    <NodeName Default="CF_DR36_Mixta (1).pdf (1) (1)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/CF_DR36_Mixta (1).pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>