<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb252f10-7f25-4792-a44e-caac6f9072e8" Alias="Chatbot" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chatbot</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-05T21:45:14</CreateDate>
    <NodeName Default="Chatbot" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties />
</Media>