<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b9f85a5-c4f8-417b-b589-1089c7f0c56a" Alias="Check Iconita" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CheckIconita</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-22T09:49:29</CreateDate>
    <NodeName Default="Check Iconita" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sscj4k5y/check-iconita.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>