<?xml version="1.0" encoding="utf-8"?>
<Media Key="98189215-466a-45eb-af4a-0bfb891be94a" Alias="Chestionare STUDIU" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChestionareSTUDIU</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-01-05T13:30:55</CreateDate>
    <NodeName Default="Chestionare STUDIU" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hojbrgdk/chestionare_studiu.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>