<?xml version="1.0" encoding="utf-8"?>
<Media Key="faf08a3f-a741-4bae-8a57-ae33c9caa79d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5c2f6a60-3cb2-4790-9464-961de4eee128">Texte</Parent>
    <Path>/Texte/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-11T11:30:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0fpb4sb/contact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>