<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c394a7b-d8ea-4745-a6e8-dedef98fc61b" Alias="Curs Consilier Vocațional Sinteza" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CursConsilierVocatIonalSinteza</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-01-07T19:18:23</CreateDate>
    <NodeName Default="Curs Consilier Vocațional Sinteza" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kvfds5hk/curs-consilier-vocat-ional_sinteza.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>