<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ab0dc80-b8e3-4d1c-a4ce-4bd35994274d" Alias="Curs Consilier Vocațional Sinteza (1)" Level="2">
  <Info>
    <Parent Key="7e149446-a1b7-42f5-9656-ef8f87bfebfd">Biblioteca</Parent>
    <Path>/Biblioteca/CursConsilierVocatIonalSinteza1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-01-08T22:23:50</CreateDate>
    <NodeName Default="Curs Consilier Vocațional Sinteza (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v1olaoxd/curs-consilier-vocat-ional_sinteza-1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>