<?xml version="1.0" encoding="utf-8"?>
<Media Key="028aa488-f269-4455-9580-640dd73d0851" Alias="document.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/documentpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-11T09:41:07</CreateDate>
    <NodeName Default="document.pdf" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/document.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>