<?xml version="1.0" encoding="utf-8"?>
<Media Key="60c900dc-28ee-44a9-b495-e5974fe59d41" Alias="document.pdf (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/documentpdf1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-11T12:28:15</CreateDate>
    <NodeName Default="document.pdf (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/document.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>