<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8a8ba4d-6481-4817-a29e-4e24dc0d7fb0" Alias="document-5.pdf (2)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/document5pdf2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-09T13:43:22</CreateDate>
    <NodeName Default="document-5.pdf (2)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/document-5.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>