<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbe27b77-86a9-4d9b-91d0-a62c9238678f" Alias="document-5.pdf (1)" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/document5pdf1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-09T13:39:43</CreateDate>
    <NodeName Default="document-5.pdf (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/document-5.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>