<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc3de3a4-9dc8-4464-8991-5a9320658787" Alias="Ecologie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ecologie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T11:55:03</CreateDate>
    <NodeName Default="Ecologie" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ulrd1tgi/ecologie.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>