<?xml version="1.0" encoding="utf-8"?>
<Media Key="769bc966-fcca-4947-821c-a326fb07e31e" Alias="Fb1" Level="2">
  <Info>
    <Parent Key="47e02436-f37b-45ed-b773-db499bf1ed1c">IconFooter</Parent>
    <Path>/IconFooter/Fb1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-06T16:20:30</CreateDate>
    <NodeName Default="Fb1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k5ejw3wk/fb1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>