<?xml version="1.0" encoding="utf-8"?>
<Media Key="babf1a45-e132-4bc8-a25a-7219f6454af4" Alias="formular230 (1).pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/formular2301Pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-09T13:12:14</CreateDate>
    <NodeName Default="formular230 (1).pdf" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/formular230 (1).pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>