<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa31cbde-0218-411a-910c-e2e06574af6c" Alias="Formular 230 Curat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Formular230Curat</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-01-14T14:03:41</CreateDate>
    <NodeName Default="Formular 230 Curat" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4dfddkqy/formular_230_curat.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>