<?xml version="1.0" encoding="utf-8"?>
<Media Key="7270de90-d9d4-42c8-be28-d8059e4bb75c" Alias="Formular Mai Bun" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormularMaiBun</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-01-14T10:24:43</CreateDate>
    <NodeName Default="Formular Mai Bun" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x1pha2wu/formular_mai_bun.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>