<?xml version="1.0" encoding="utf-8"?>
<Media Key="438ae0b0-4702-4cb8-81ea-06534f4e4644" Alias="Fundal Chatbot (1)" Level="2">
  <Info>
    <Parent Key="cb252f10-7f25-4792-a44e-caac6f9072e8">Chatbot</Parent>
    <Path>/Chatbot/FundalChatbot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-05T21:45:36</CreateDate>
    <NodeName Default="Fundal Chatbot (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1qiuqyc/fundal-chatbot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>