<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c094249-e7e2-402d-b4cd-9235f0a3223c" Alias="Fundal Voluntar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FundalVoluntar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-20T11:40:56</CreateDate>
    <NodeName Default="Fundal Voluntar" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j3batdhc/fundal-voluntar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>