<?xml version="1.0" encoding="utf-8"?>
<Media Key="8418eaab-10c4-4399-9e1e-f296739eaa12" Alias="Fundal Chatbot" Level="2">
  <Info>
    <Parent Key="cb252f10-7f25-4792-a44e-caac6f9072e8">Chatbot</Parent>
    <Path>/Chatbot/FundalChatbot</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-05T21:45:35</CreateDate>
    <NodeName Default="Fundal Chatbot" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tlvbrbge/fundal-chatbot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>