<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bf9d7e5-218a-4ac1-9c13-f9e6c4c20fce" Alias="Fundal Termene Si Conditii" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FundalTermeneSiConditii</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-21T11:04:51</CreateDate>
    <NodeName Default="Fundal Termene Si Conditii" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2plpso2k/fundal-termene-si-conditii.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>