<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e724f47-d1f0-466c-9ced-23c3e40061f2" Alias="Gal Tarnavele_230-7.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/GalTarnavele_2307pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-01-14T12:25:03</CreateDate>
    <NodeName Default="Gal Tarnavele_230-7.pdf" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/Gal Tarnavele_230-7.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>