<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8c39326-fe75-47c5-a5b7-a60c13ba1a3d" Alias="Galai (1)" Level="2">
  <Info>
    <Parent Key="cb252f10-7f25-4792-a44e-caac6f9072e8">Chatbot</Parent>
    <Path>/Chatbot/Galai1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-05T21:45:36</CreateDate>
    <NodeName Default="Galai (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c4jnhodv/galai.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>