<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1207e1a-f8c3-4fd6-9657-7f9b065a2d9e" Alias="GALOSFERA Logo Negru (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GALOSFERALogoNegru1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-22T14:35:16</CreateDate>
    <NodeName Default="GALOSFERA Logo Negru (1)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fn5cbuod/galosfera-logo-negru.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>