<?xml version="1.0" encoding="utf-8"?>
<Media Key="1da7faa3-f8e1-4fc9-bfed-a289084257aa" Alias="GALOSFERA Logo (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GALOSFERALogo1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-11T13:02:49</CreateDate>
    <NodeName Default="GALOSFERA Logo (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sl3kohpb/galosfera-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>