<?xml version="1.0" encoding="utf-8"?>
<Media Key="49bce633-b40b-45f2-9280-d981d18b80fa" Alias="Galosfera Logo Stiri" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GalosferaLogoStiri</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-06T16:12:20</CreateDate>
    <NodeName Default="Galosfera Logo Stiri" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/altlysil/galosfera-logo-stiri.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>