<?xml version="1.0" encoding="utf-8"?>
<Media Key="10df9184-3390-4f58-9994-3d48ee9cab00" Alias="GALOSFERA Logo Negru" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GALOSFERALogoNegru</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-11T11:03:39</CreateDate>
    <NodeName Default="GALOSFERA Logo Negru" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wwin4eeq/galosfera-logo-negru.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>