<?xml version="1.0" encoding="utf-8"?>
<Media Key="93cc0e59-ff4d-4770-b49b-3ddad6db89a3" Alias="GALOSFERA Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GALOSFERALogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-11T10:59:23</CreateDate>
    <NodeName Default="GALOSFERA Logo" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nahmze0n/galosfera-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>