<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f763f4a-8832-4db6-9b10-8a9ec146718c" Alias="Îndrumar Organizare Focusgrupuri" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/INdrumarOrganizareFocusgrupuri</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-01-07T19:22:07</CreateDate>
    <NodeName Default="Îndrumar Organizare Focusgrupuri" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mq5hm5zs/i-ndrumar-organizare-focusgrupuri.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>