<?xml version="1.0" encoding="utf-8"?>
<Media Key="47e02436-f37b-45ed-b773-db499bf1ed1c" Alias="IconFooter" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconFooter</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-06T16:20:09</CreateDate>
    <NodeName Default="IconFooter" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties />
</Media>