<?xml version="1.0" encoding="utf-8"?>
<Media Key="c933ae35-3ae5-454c-9147-eef2f261e331" Alias="Iconita Carte4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconitaCarte4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-21T16:41:03</CreateDate>
    <NodeName Default="Iconita Carte4" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/asxdhspf/iconita-carte4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>