<?xml version="1.0" encoding="utf-8"?>
<Media Key="cce6d230-f5c5-4d80-ad4c-7a1c545fb24e" Alias="Icon Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconDownload</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-09T14:48:38</CreateDate>
    <NodeName Default="Icon Download" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ahjontgf/icon-download.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>