<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a9bf04-a8c0-4313-8c71-e9d650a4735e" Alias="Iconita Profil" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconitaProfil</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T11:56:12</CreateDate>
    <NodeName Default="Iconita Profil" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gw5lsq4a/iconita_profil.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>