<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ddeca1d-9a2c-48bf-88fa-89d76f984a57" Alias="Icon Galosfera Circle" Level="2">
  <Info>
    <Parent Key="dd41d3fa-a70c-4440-bdf9-2fb8230362de">IconDreapta</Parent>
    <Path>/IconDreapta/IconGalosferaCircle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-29T09:43:34</CreateDate>
    <NodeName Default="Icon Galosfera Circle" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ftfn2ljm/icon-galosfera-circle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>