<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd89e11e-e463-413d-80db-cb6beee582fa" Alias="IG1" Level="2">
  <Info>
    <Parent Key="47e02436-f37b-45ed-b773-db499bf1ed1c">IconFooter</Parent>
    <Path>/IconFooter/IG1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-06T16:20:30</CreateDate>
    <NodeName Default="IG1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f5qjtpld/ig1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>