<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4b54807-02da-4231-97d5-c5e4fda46d22" Alias="Info1" Level="2">
  <Info>
    <Parent Key="47e02436-f37b-45ed-b773-db499bf1ed1c">IconFooter</Parent>
    <Path>/IconFooter/Info1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-06T16:20:59</CreateDate>
    <NodeName Default="Info1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gzell3g0/info1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>