<?xml version="1.0" encoding="utf-8"?>
<Media Key="151b5c28-97d6-4aed-975d-106d7234acc9" Alias="Janae Cram" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">Voluntar în România</Parent>
    <Path>/VoluntarInRomania/JanaeCram</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-11T10:24:48</CreateDate>
    <NodeName Default="Janae Cram" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fzobwfow/janae_cram.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>