<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc617f03-886c-44a8-ac5d-0a0de121bf86" Alias="Login (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-11T12:50:09</CreateDate>
    <NodeName Default="Login (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gj5hdpdm/login.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>