<?xml version="1.0" encoding="utf-8"?>
<Media Key="19ff48bf-0bcd-400e-b9cc-886fa029e004" Alias="Login" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-11T12:19:37</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rzep4gon/login.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>