<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f9a4da7-1049-472b-811a-2bf1602d3692" Alias="Login3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-12T10:13:10</CreateDate>
    <NodeName Default="Login3" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/szgjux0j/login3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>