<?xml version="1.0" encoding="utf-8"?>
<Media Key="920f2113-fe2e-4e64-800b-a83cdf1ad54a" Alias="Login Bun" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LoginBun</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T12:00:04</CreateDate>
    <NodeName Default="Login Bun" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eiqb5ero/login_bun.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>