<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f71bf33-9224-42fc-8ae4-35d4b7e3dfe3" Alias="Logo Chatbot Text Alb" Level="2">
  <Info>
    <Parent Key="cb252f10-7f25-4792-a44e-caac6f9072e8">Chatbot</Parent>
    <Path>/Chatbot/LogoChatbotTextAlb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-06T17:17:19</CreateDate>
    <NodeName Default="Logo Chatbot Text Alb" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ak5hctze/logo-chatbot-text-alb.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>