<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fb8c504-ae76-435e-8fdb-5815b492f74e" Alias="Logouri Sus Doua (1)" Level="2">
  <Info>
    <Parent Key="7f8b4f7f-e0a1-49fa-9841-97483afa081d">Logo jos si sus</Parent>
    <Path>/LogoJosSiSus/LogouriSusDoua1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-04T12:38:42</CreateDate>
    <NodeName Default="Logouri Sus Doua (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/alclqp1w/logouri-sus-doua.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>