<?xml version="1.0" encoding="utf-8"?>
<Media Key="80ea2a5f-309c-4653-80b6-ddfe1b10ee71" Alias="Logouri Sus Trei" Level="2">
  <Info>
    <Parent Key="7f8b4f7f-e0a1-49fa-9841-97483afa081d">Logo jos si sus</Parent>
    <Path>/LogoJosSiSus/LogouriSusTrei</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-04T23:23:06</CreateDate>
    <NodeName Default="Logouri Sus Trei" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/levovae2/logouri-sus-trei.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>