<?xml version="1.0" encoding="utf-8"?>
<Media Key="90eef1a8-7b1b-4e18-a7dd-cbf3322f1392" Alias="Logouri Jos Trei" Level="2">
  <Info>
    <Parent Key="7f8b4f7f-e0a1-49fa-9841-97483afa081d">Logo jos si sus</Parent>
    <Path>/LogoJosSiSus/LogouriJosTrei</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-04T12:34:55</CreateDate>
    <NodeName Default="Logouri Jos Trei" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thyp3ea1/logouri-jos-trei.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>