<?xml version="1.0" encoding="utf-8"?>
<Media Key="03c10ae4-f46e-4515-8dd5-91f1ad5f4497" Alias="Logo Evenimente" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoEvenimente</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-19T11:52:09</CreateDate>
    <NodeName Default="Logo Evenimente" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ufmca1o/logo-evenimente.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>