<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ad6976f-e971-4ca0-9568-61a169da28fd" Alias="Logouri Sus Doua" Level="2">
  <Info>
    <Parent Key="7f8b4f7f-e0a1-49fa-9841-97483afa081d">Logo jos si sus</Parent>
    <Path>/LogoJosSiSus/LogouriSusDoua</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-04T12:34:55</CreateDate>
    <NodeName Default="Logouri Sus Doua" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l0lnm0tr/logouri-sus-doua.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>