<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f8b4f7f-e0a1-49fa-9841-97483afa081d" Alias="Logo jos si sus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoJosSiSus</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-04T12:34:33</CreateDate>
    <NodeName Default="Logo jos si sus" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties />
</Media>