<?xml version="1.0" encoding="utf-8"?>
<Media Key="57162598-474e-4771-869e-f6486d6045ce" Alias="Logo Chatbot Cu Text" Level="2">
  <Info>
    <Parent Key="7f8b4f7f-e0a1-49fa-9841-97483afa081d">Logo jos si sus</Parent>
    <Path>/LogoJosSiSus/LogoChatbotCuText</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-04T23:23:07</CreateDate>
    <NodeName Default="Logo Chatbot Cu Text" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vesbmv0o/logo-chatbot-cu-text.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>