<?xml version="1.0" encoding="utf-8"?>
<Media Key="86f3e2df-3559-4419-a60c-3dd76cb26c39" Alias="Logo Galosfera Stiri 4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoGalosferaStiri4</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-06T16:09:28</CreateDate>
    <NodeName Default="Logo Galosfera Stiri 4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/31rphbsz/logo-galosfera-stiri-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>