<?xml version="1.0" encoding="utf-8"?>
<Media Key="20076715-8ea9-459a-9d59-91b37ae3a596" Alias="Logo Albastru" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoAlbastru</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-20T11:12:27</CreateDate>
    <NodeName Default="Logo Albastru" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ertboifj/logo-albastru.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>