<?xml version="1.0" encoding="utf-8"?>
<Media Key="35612d57-901a-4161-8ca6-0337b3b32cd9" Alias="Logo Albastru Circular" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoAlbastruCircular</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-12-03T21:39:42</CreateDate>
    <NodeName Default="Logo Albastru Circular" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mywhcni0/logo-albastru-circular.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>