<?xml version="1.0" encoding="utf-8"?>
<Media Key="24eff475-4185-40dc-a170-aadacf9ee259" Alias="Logo Chat Alb Negru" Level="2">
  <Info>
    <Parent Key="cb252f10-7f25-4792-a44e-caac6f9072e8">Chatbot</Parent>
    <Path>/Chatbot/LogoChatAlbNegru</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-01-06T16:58:34</CreateDate>
    <NodeName Default="Logo Chat Alb Negru" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/it0o4jef/logo-chat-alb-negru.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>