<?xml version="1.0" encoding="utf-8"?>
<Media Key="783c8c90-238b-47f5-96fa-7f5596e42197" Alias="Logouri Jos Trei (1)" Level="2">
  <Info>
    <Parent Key="7f8b4f7f-e0a1-49fa-9841-97483afa081d">Logo jos si sus</Parent>
    <Path>/LogoJosSiSus/LogouriJosTrei1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-04T12:38:42</CreateDate>
    <NodeName Default="Logouri Jos Trei (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s0gdy4el/logouri-jos-trei.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>