<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf4a1fb7-e041-4d19-b6d1-081296ea6a63" Alias="Mesaje1" Level="2">
  <Info>
    <Parent Key="dd41d3fa-a70c-4440-bdf9-2fb8230362de">IconDreapta</Parent>
    <Path>/IconDreapta/Mesaje1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-25T15:09:50</CreateDate>
    <NodeName Default="Mesaje1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qypfvt0b/mesaje1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>