<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ed6ceb8-bce8-46ff-bfe7-5eb73fdf7d3e" Alias="Mesaje2" Level="2">
  <Info>
    <Parent Key="dd41d3fa-a70c-4440-bdf9-2fb8230362de">IconDreapta</Parent>
    <Path>/IconDreapta/Mesaje2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-29T09:43:34</CreateDate>
    <NodeName Default="Mesaje2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rhhnndxi/mesaje2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>