<?xml version="1.0" encoding="utf-8"?>
<Media Key="0442e7ce-fec1-486f-8cc8-db6adeb122cc" Alias="Notificari1" Level="2">
  <Info>
    <Parent Key="dd41d3fa-a70c-4440-bdf9-2fb8230362de">IconDreapta</Parent>
    <Path>/IconDreapta/Notificari1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-25T15:09:50</CreateDate>
    <NodeName Default="Notificari1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/55tfebgb/notificari1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>