<?xml version="1.0" encoding="utf-8"?>
<Media Key="83d32d79-6f56-4524-97a5-f0144e89e6c9" Alias="Portal.AFIR.drawio.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/PortalAFIRdrawiopdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-10T17:04:48</CreateDate>
    <NodeName Default="Portal.AFIR.drawio.pdf" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/Portal.AFIR.drawio.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>