<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2e9f5e7-79ff-4a27-a1c2-093bbfc1ac67" Alias="raportactivitatenoiembrie.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/raportactivitatenoiembriepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-10T17:02:42</CreateDate>
    <NodeName Default="raportactivitatenoiembrie.pdf" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/raportactivitatenoiembrie.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>