<?xml version="1.0" encoding="utf-8"?>
<Media Key="0436fb41-97b2-4ffb-bd70-e6fdd7eb6be4" Alias="RSS Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RSSLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-19T14:44:14</CreateDate>
    <NodeName Default="RSS Logo" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/od3dmbfs/rss-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>