<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d498308-2099-4a9a-ba9a-70f68c386fff" Alias="Sageata Voluntar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SageataVoluntar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-20T14:57:52</CreateDate>
    <NodeName Default="Sageata Voluntar" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hgbfspmz/sageata-voluntar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>