<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e08f986-cdf4-4c7e-84a1-716a1fe3141b" Alias="SDL versiunea 2.pdf" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/SDLVersiunea2pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-12-09T13:09:23</CreateDate>
    <NodeName Default="SDL versiunea 2.pdf" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uploads/SDL versiunea 2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>