<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3aa582a-1384-4438-bd7d-f9fb249ff662" Alias="Smile Hai" Level="2">
  <Info>
    <Parent Key="5c2f6a60-3cb2-4790-9464-961de4eee128">Texte</Parent>
    <Path>/Texte/SmileHai</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-20T11:43:12</CreateDate>
    <NodeName Default="Smile Hai" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dnmkvy2e/smile-hai.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>