<?xml version="1.0" encoding="utf-8"?>
<Media Key="b001714c-78fc-49fb-a6c9-522f35fa9042" Alias="Stiri1" Level="2">
  <Info>
    <Parent Key="dd41d3fa-a70c-4440-bdf9-2fb8230362de">IconDreapta</Parent>
    <Path>/IconDreapta/Stiri1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-25T15:09:50</CreateDate>
    <NodeName Default="Stiri1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pvybdmh2/stiri1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>