<?xml version="1.0" encoding="utf-8"?>
<Media Key="911bb7aa-ebd6-4f45-98ab-8898e334857c" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T12:38:09</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vs1bxeow/test.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>