<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c2f6a60-3cb2-4790-9464-961de4eee128" Alias="Texte" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Texte</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-11T11:29:54</CreateDate>
    <NodeName Default="Texte" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties />
</Media>