<?xml version="1.0" encoding="utf-8"?>
<Media Key="44a8fc70-bd39-42f5-8417-68ddc3089398" Alias="Text Mare GALOSFERA" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TextMareGALOSFERA</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-11T11:44:26</CreateDate>
    <NodeName Default="Text Mare GALOSFERA" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ih4kqrbz/text-mare-galosfera.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>