<?xml version="1.0" encoding="utf-8"?>
<Media Key="b001a4cb-5f33-4957-917d-597ca0ea05a4" Alias="Voluntar în România" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VoluntarInRomania</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-11T10:24:48</CreateDate>
    <NodeName Default="Voluntar în România" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>