<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d26eafa-14f1-48fa-be6d-9e75dc385446" Alias="Wall Homepage1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WallHomepage1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-07-11T10:55:47</CreateDate>
    <NodeName Default="Wall Homepage1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zpvcmlpr/wall-homepage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>