<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a5ef249-00b7-4dc5-b2a3-158d10b91481" Alias="Wall Pagina Contact4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WallPaginaContact4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T16:06:12</CreateDate>
    <NodeName Default="Wall Pagina Contact4" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j5zf2kvx/wall-pagina-contact4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>