<?xml version="1.0" encoding="utf-8"?>
<Media Key="4997d085-a967-43cc-b6bb-9b90f20d17b2" Alias="Wall Pagina Login1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WallPaginaLogin1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T23:10:22</CreateDate>
    <NodeName Default="Wall Pagina Login1" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qpijoslh/wall-pagina-login1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>