<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e871a9f-4a56-44ef-a59c-a3bf129a69ca" Alias="Wall Homepage1 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WallHomepage11</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-07T13:10:48</CreateDate>
    <NodeName Default="Wall Homepage1 (1)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vynio1sw/wall-homepage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>