<?xml version="1.0" encoding="utf-8"?>
<Media Key="30b06a9c-c842-4e33-aafe-38c415d1c21c" Alias="Wall Pagina Biblioteca4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WallPaginaBiblioteca4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T16:27:38</CreateDate>
    <NodeName Default="Wall Pagina Biblioteca4" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tjvlamcc/wall-pagina-biblioteca4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>