<?xml version="1.0" encoding="utf-8"?>
<Media Key="598693c6-a2c1-490f-8d78-c533d1f3b7c2" Alias="Îndrumar Organizare Focusgrupuri" Level="2">
  <Info>
    <Parent Key="7e149446-a1b7-42f5-9656-ef8f87bfebfd">Biblioteca</Parent>
    <Path>/Biblioteca/IndrumarOrganizareFocusgrupuri</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-01-08T22:23:44</CreateDate>
    <NodeName Default="Îndrumar Organizare Focusgrupuri" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3cjjmwob/îndrumar-organizare-focusgrupuri.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>