<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ca6ee37-6e83-4b6a-8367-261266b7adca" Alias="A doua carte" Level="3">
  <Info>
    <Parent Key="63afd463-978e-473f-8b2c-c37664d44478">Biblioteca</Parent>
    <Path>/Home/Biblioteca/ADouaCarte</Path>
    <Trashed>false</Trashed>
    <ContentType>bibliotecaItem</ContentType>
    <CreateDate>2024-11-19T10:28:50</CreateDate>
    <NodeName Default="A doua carte" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="421ac8db-b531-44ae-8fc2-f31a5dcd7861">BibliotecaItem</Template>
  </Info>
  <Properties>
    <carteContinut>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carteLorem ipsum a doua carte</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </carteContinut>
    <carteTitlu>
      <Value><![CDATA[Lorem ipsum a doua carte]]></Value>
    </carteTitlu>
  </Properties>
</Content>