<?xml version="1.0" encoding="utf-8"?>
<Content Key="49507805-df17-4f93-8724-421d45862350" Alias="A patra" Level="3">
  <Info>
    <Parent Key="63afd463-978e-473f-8b2c-c37664d44478">Biblioteca</Parent>
    <Path>/Home/Biblioteca/APatra</Path>
    <Trashed>false</Trashed>
    <ContentType>bibliotecaItem</ContentType>
    <CreateDate>2024-11-19T11:13:47</CreateDate>
    <NodeName Default="A patra" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="421ac8db-b531-44ae-8fc2-f31a5dcd7861">BibliotecaItem</Template>
  </Info>
  <Properties>
    <carteContinut>
      <Value><![CDATA[{
  "markup": "<p>A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte A patra carte&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </carteContinut>
    <carteTitlu>
      <Value><![CDATA[A patra carte ]]></Value>
    </carteTitlu>
  </Properties>
</Content>