<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2a2bb0c-7daf-4a03-af0a-ee6210681e28" Alias="a treia carte" Level="3">
  <Info>
    <Parent Key="63afd463-978e-473f-8b2c-c37664d44478">Biblioteca</Parent>
    <Path>/Home/Biblioteca/aTreiaCarte</Path>
    <Trashed>false</Trashed>
    <ContentType>bibliotecaItem</ContentType>
    <CreateDate>2024-11-19T11:13:16</CreateDate>
    <NodeName Default="a treia carte" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="421ac8db-b531-44ae-8fc2-f31a5dcd7861">BibliotecaItem</Template>
  </Info>
  <Properties>
    <carteContinut>
      <Value><![CDATA[{
  "markup": "<p>A treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carteA treia carte</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </carteContinut>
    <carteTitlu>
      <Value><![CDATA[A treia carte]]></Value>
    </carteTitlu>
  </Properties>
</Content>