<?xml version="1.0" encoding="utf-8"?>
<Content Key="262beb70-53a6-49b8-9e98-cfde2e85a78e" Alias="Anunt eveniment 1" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Evenimente</Parent>
    <Path>/Home/Evenimente/AnuntEveniment1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-07-11T10:24:47</CreateDate>
    <NodeName Default="Anunt eveniment 1" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <adresaEveniment>
      <Value><![CDATA[]]></Value>
    </adresaEveniment>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[categorie ev 1]]></Value>
    </category>
    <dataEveniment>
      <Value><![CDATA[2024-09-28T12:00:00]]></Value>
    </dataEveniment>
    <description>
      <Value><![CDATA[ Ut tempor neque scelerisque, porttitor velit non, bibendum est. Nunc hendrerit, lacus at dignissim laoreet, lectus nibh gravida ante, non euismod metus ligula sit amet est. Ut dapibus erat vitae turpis rhoncus pretium. Cras sed lorem eget sapien dignissim cursus eu vel est. Proin sed viverra massa. Duis id dictum magna, nec convallis est. Fusce interdum ultricies eros sit amet ornare. Suspendisse aliquet erat metus, id faucibus metus tristique non. Vestibulum malesuada felis vitae faucibus fringilla. Fusce nec augue pellentesque, pulvinar nunc eget, pellentesque ante. Nam porta pellentesque ligula, accumsan iaculis felis facilisis id. Fusce elit ipsum, bibendum vel odio sit amet, sollicitudin scelerisque arcu. Mauris feugiat augue lorem, ut eleifend augue tristique a.

Maecenas luctus pulvinar nisi non accumsan. Suspendisse ac dictum risus. Cras aliquam porta eleifend. Mauris non ullamcorper ante. Donec in porta ante, eget hendrerit massa. Sed dui urna, tincidunt vel finibus sit amet, maximus ac velit. Phasellus sit amet purus non nunc pharetra tempor. ]]></Value>
    </description>
    <features>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/45ac1a1e27c2489b906ed864c009a083"
      },
      {
        "contentUdi": "umb://element/7b94e979ecbf45958e2706895498d584"
      },
      {
        "contentUdi": "umb://element/d34b2f9da2bc43ccb7525c391e5531eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "udi": "umb://element/45ac1a1e27c2489b906ed864c009a083",
      "featureName": "Motiv sa participi 1",
      "featureDetails": "Motiv sa participi 1 detaliat"
    },
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "udi": "umb://element/7b94e979ecbf45958e2706895498d584",
      "featureName": "Motiv sa participi 2",
      "featureDetails": "Motiv sa participi 2 detaliat"
    },
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "udi": "umb://element/d34b2f9da2bc43ccb7525c391e5531eb",
      "featureName": "Motiv sa participi 3",
      "featureDetails": "Motiv sa participi 3 detaliat"
    }
  ],
  "settingsData": []
}]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "cc74b611-4627-4c22-8927-093ae28ca8f7",
    "mediaKey": "e1f3649c-f8b2-48a0-a53a-088bd768ee8e"
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[Să ne cunoaștem mai bine!]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[detalii  eveniment]]></Value>
    </sku>
  </Properties>
</Content>