<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6a43b8f-323c-4674-b6b3-3224123650ea" Alias="ASOCIATIA GAL POARTA TRANSILVANIEI" Level="3">
  <Info>
    <Parent Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f">GALURI</Parent>
    <Path>/Home/GALURI/ASOCIATIAGALPOARTATRANSILVANIEI</Path>
    <Trashed>false</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2025-01-08T16:24:29</CreateDate>
    <NodeName Default="ASOCIATIA GAL POARTA TRANSILVANIEI" />
    <SortOrder>126</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <adaugaMembrii>
      <Value><![CDATA[]]></Value>
    </adaugaMembrii>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[31014065]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[ASOCIATIA GAL POARTA TRANSILVANIEI]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[office@poartatransilvaniei.ro]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[]]></Value>
    </numarStrada>
    <persoanaDeContact>
      <Value><![CDATA[]]></Value>
    </persoanaDeContact>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
    <telefonPersoanaDeContact>
      <Value><![CDATA[0364802323]]></Value>
    </telefonPersoanaDeContact>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>