<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4a4dcbf-7c9b-47ad-ad85-1ac17bdefb9f" Alias="ASOCIAȚIA &quot;GRUPUL DE ACȚIUNE LOCALĂ FĂGĂRAȘUL DE SUD - ȚINUTUL POSADELOR&quot;" Level="3">
  <Info>
    <Parent Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f">GALURI</Parent>
    <Path>/Home/GALURI/ASOCIATIAGRUPULDEACTIUNELOCALAFAGARASULDESUDTINUTULPOSADELOR</Path>
    <Trashed>false</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2025-01-09T14:44:05</CreateDate>
    <NodeName Default="ASOCIAȚIA &quot;GRUPUL DE ACȚIUNE LOCALĂ FĂGĂRAȘUL DE SUD - ȚINUTUL POSADELOR&quot;" />
    <SortOrder>180</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <adaugaMembrii>
      <Value><![CDATA[]]></Value>
    </adaugaMembrii>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[29023576]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[ASOCIAȚIA "GRUPUL DE ACȚIUNE LOCALĂ FĂGĂRAȘUL DE SUD - ȚINUTUL POSADELOR"]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[tinutulposadelor@gmail.com]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[]]></Value>
    </numarStrada>
    <persoanaDeContact>
      <Value><![CDATA[]]></Value>
    </persoanaDeContact>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
    <telefonPersoanaDeContact>
      <Value><![CDATA[0348520389]]></Value>
    </telefonPersoanaDeContact>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>