<?xml version="1.0" encoding="utf-8"?>
<Content Key="a135579c-4f38-46e2-92ad-a2b9150819c7" Alias="Asociția Grupul de Acțiune Locală Defileul Mureșului Superior" Level="3">
  <Info>
    <Parent Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f">GALURI</Parent>
    <Path>/Home/GALURI/AsocitiaGrupulDeActiuneLocalaDefileulMuresuluiSuperior</Path>
    <Trashed>false</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2025-01-08T14:59:34</CreateDate>
    <NodeName Default="Asociția Grupul de Acțiune Locală Defileul Mureșului Superior" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <adaugaMembrii>
      <Value><![CDATA[]]></Value>
    </adaugaMembrii>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[33364830]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[Asociția Grupul de Acțiune Locală Defileul Mureșului Superior]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[defmursup@yahoo.com]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[]]></Value>
    </numarStrada>
    <persoanaDeContact>
      <Value><![CDATA[]]></Value>
    </persoanaDeContact>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
    <telefonPersoanaDeContact>
      <Value><![CDATA[0265556238]]></Value>
    </telefonPersoanaDeContact>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>