<?xml version="1.0" encoding="utf-8"?>
<Content Key="56c73a2a-5400-4bc8-b82b-9906acf420bf" Alias="Asociația GAL Microregiunea Hârtibaciu" Level="3">
  <Info>
    <Parent Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f">GALURI</Parent>
    <Path>/Home/GALURI/AsociatiaGALMicroregiuneaHartibaciu</Path>
    <Trashed>false</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2025-01-08T16:45:17</CreateDate>
    <NodeName Default="Asociația GAL Microregiunea Hârtibaciu" />
    <SortOrder>158</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <adaugaMembrii>
      <Value><![CDATA[]]></Value>
    </adaugaMembrii>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[22614699]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[Asociația GAL Microregiunea Hârtibaciu]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[office@gal-mh.eu]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[]]></Value>
    </numarStrada>
    <persoanaDeContact>
      <Value><![CDATA[]]></Value>
    </persoanaDeContact>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
    <telefonPersoanaDeContact>
      <Value><![CDATA[0735779139]]></Value>
    </telefonPersoanaDeContact>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>