<?xml version="1.0" encoding="utf-8"?>
<Content Key="71575dd4-af93-4d74-a621-723d487b238e" Alias="ASOCIAȚIA GRUPUL DE ACȚIUNE LOCALĂ &quot;CODRU MOMA&quot;" Level="3">
  <Info>
    <Parent Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f">GALURI</Parent>
    <Path>/Home/GALURI/ASOCIATIAGRUPULDEACTIUNELOCALACODRUMOMA</Path>
    <Trashed>false</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2025-01-09T14:54:17</CreateDate>
    <NodeName Default="ASOCIAȚIA GRUPUL DE ACȚIUNE LOCALĂ &quot;CODRU MOMA&quot;" />
    <SortOrder>196</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <adaugaMembrii>
      <Value><![CDATA[]]></Value>
    </adaugaMembrii>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[35864379]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[ASOCIAȚIA GRUPUL DE ACȚIUNE LOCALĂ "CODRU MOMA"]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[galcodrumoma@gmail.com]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[]]></Value>
    </numarStrada>
    <persoanaDeContact>
      <Value><![CDATA[]]></Value>
    </persoanaDeContact>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
    <telefonPersoanaDeContact>
      <Value><![CDATA[0762696469]]></Value>
    </telefonPersoanaDeContact>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>