<?xml version="1.0" encoding="utf-8"?>
<Content Key="63afd463-978e-473f-8b2c-c37664d44478" Alias="Biblioteca" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Biblioteca</Path>
    <Trashed>false</Trashed>
    <ContentType>biblioteca</ContentType>
    <CreateDate>2024-10-01T16:57:36</CreateDate>
    <NodeName Default="Biblioteca" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="20be76ff-f2df-4eeb-9c72-74c6d79deda9">Biblioteca</Template>
  </Info>
  <Properties>
    <continutulPaginii>
      <Value><![CDATA[{
  "markup": "<p>Aici este biblioteca!</p>\n<ul>\n<li>rre</li>\n<li>ewfwe</li>\n<li>ferf</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </continutulPaginii>
    <titlulPaginii>
      <Value><![CDATA[Biblioteca]]></Value>
    </titlulPaginii>
  </Properties>
</Content>