<?xml version="1.0" encoding="utf-8"?>
<Content Key="63afd463-978e-473f-8b2c-c37664d44478" Alias="Biblioteca" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Biblioteca</Path>
    <Trashed>false</Trashed>
    <ContentType>biblioteca</ContentType>
    <CreateDate>2024-10-01T16:57:36</CreateDate>
    <NodeName Default="Biblioteca" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="20be76ff-f2df-4eeb-9c72-74c6d79deda9">Biblioteca</Template>
  </Info>
  <Properties>
    <continutulPaginii>
      <Value><![CDATA[{
  "markup": "<p>Biblioteca:</p>\n<ul style=\"list-style-type: circle;\">\n<li><img style=\"width: 14px;\" src=\"/media/asxdhspf/iconita-carte4.svg\" alt=\"\"> <strong>prima carte<br></strong></li>\n</ul>\n<ul style=\"list-style-type: circle;\">\n<li><img style=\"width: 14px;\" src=\"/media/asxdhspf/iconita-carte4.svg\" alt=\"\"> <strong>a doua carte</strong></li>\n</ul>\n<ul style=\"list-style-type: circle;\">\n<li><img style=\"width: 14px;\" src=\"/media/asxdhspf/iconita-carte4.svg\" alt=\"\"><strong> a treia carte</strong></li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </continutulPaginii>
    <titlulPaginii>
      <Value><![CDATA[Biblioteca]]></Value>
    </titlulPaginii>
  </Properties>
</Content>