<?xml version="1.0" encoding="utf-8"?>
<Content Key="e671afcc-26ec-441e-9f4a-a77467b90b69" Alias="CHESTIONARE STUDIU" Level="3">
  <Info>
    <Parent Key="63afd463-978e-473f-8b2c-c37664d44478">Biblioteca</Parent>
    <Path>/Home/Biblioteca/CHESTIONARESTUDIU</Path>
    <Trashed>false</Trashed>
    <ContentType>bibliotecaItem</ContentType>
    <CreateDate>2025-01-08T20:56:57</CreateDate>
    <NodeName Default="CHESTIONARE STUDIU" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="421ac8db-b531-44ae-8fc2-f31a5dcd7861">BibliotecaItem</Template>
  </Info>
  <Properties>
    <carteContinut>
      <Value><![CDATA[{
  "markup": "<p>Acest chestionar face parte dintr-un studiu mai amplu care își propune să analizeze rolul și contribuția&nbsp;Grupurilor de Acțiune Locală (GAL) în societatea civilă din regiunile vizate de proiect. <br><a rel=\"noopener\" href=\"/{localLink:umb://media/ac32ca27bd274ceca2c31ea500a8abf5}\" target=\"_blank\" title=\"Chestionare STUDIU (1)\">CHESTIONARE STUDIU</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </carteContinut>
    <carteTitlu>
      <Value><![CDATA[CHESTIONARE STUDIU]]></Value>
    </carteTitlu>
  </Properties>
</Content>