<?xml version="1.0" encoding="utf-8"?>
<Content Key="7129a0d5-bfe8-4fe5-980a-ec14c0fee9f7" Alias="con1" Level="3">
  <Info>
    <Parent Key="133496c2-41c4-46f6-9347-6f3c6a35e753">Contractori</Parent>
    <Path>/Home/Contractori/con1</Path>
    <Trashed>false</Trashed>
    <ContentType>contractor</ContentType>
    <CreateDate>2025-01-08T16:24:11</CreateDate>
    <NodeName Default="con1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4f9be80-ff37-4e3d-a181-91d859fd7b96">Contractor</Template>
  </Info>
  <Properties>
    <acord>
      <Value><![CDATA[[]]]></Value>
    </acord>
    <bloc>
      <Value><![CDATA[bvg]]></Value>
    </bloc>
    <codPostal>
      <Value><![CDATA[gy]]></Value>
    </codPostal>
    <denumireContractor>
      <Value><![CDATA[ghj]]></Value>
    </denumireContractor>
    <domeniuActivitate>
      <Value><![CDATA[]]></Value>
    </domeniuActivitate>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[fhjb]]></Value>
    </etaj>
    <judetSector>
      <Value><![CDATA[vjghdf]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[jhftyv]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[uh]]></Value>
    </numarStrada>
    <scara>
      <Value><![CDATA[hg]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[vhjg]]></Value>
    </strada>
  </Properties>
</Content>