<?xml version="1.0" encoding="utf-8"?>
<Content Key="e27e3c6d-7616-4bb3-9039-583ddde2c197" Alias="con2" Level="3">
  <Info>
    <Parent Key="133496c2-41c4-46f6-9347-6f3c6a35e753">Contractori</Parent>
    <Path>/Home/Contractori/con2</Path>
    <Trashed>false</Trashed>
    <ContentType>contractor</ContentType>
    <CreateDate>2025-01-08T16:24:30</CreateDate>
    <NodeName Default="con2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4f9be80-ff37-4e3d-a181-91d859fd7b96">Contractor</Template>
  </Info>
  <Properties>
    <acord>
      <Value><![CDATA[[]]]></Value>
    </acord>
    <bloc>
      <Value><![CDATA[okm]]></Value>
    </bloc>
    <codPostal>
      <Value><![CDATA[m,ok,]]></Value>
    </codPostal>
    <denumireContractor>
      <Value><![CDATA[lm,]]></Value>
    </denumireContractor>
    <domeniuActivitate>
      <Value><![CDATA[]]></Value>
    </domeniuActivitate>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[mo]]></Value>
    </etaj>
    <judetSector>
      <Value><![CDATA[mo]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[ok]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[okmj]]></Value>
    </numarStrada>
    <scara>
      <Value><![CDATA[omo]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[kpl]]></Value>
    </strada>
  </Properties>
</Content>