<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b4b537c-d943-4966-bfc0-48b4906bebab" Alias="con3" Level="3">
  <Info>
    <Parent Key="133496c2-41c4-46f6-9347-6f3c6a35e753">Contractori</Parent>
    <Path>/Home/Contractori/con3</Path>
    <Trashed>false</Trashed>
    <ContentType>contractor</ContentType>
    <CreateDate>2025-01-08T16:24:52</CreateDate>
    <NodeName Default="con3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4f9be80-ff37-4e3d-a181-91d859fd7b96">Contractor</Template>
  </Info>
  <Properties>
    <acord>
      <Value><![CDATA[[]]]></Value>
    </acord>
    <bloc>
      <Value><![CDATA[sdf]]></Value>
    </bloc>
    <codPostal>
      <Value><![CDATA[dsf]]></Value>
    </codPostal>
    <denumireContractor>
      <Value><![CDATA[con3fd]]></Value>
    </denumireContractor>
    <domeniuActivitate>
      <Value><![CDATA[]]></Value>
    </domeniuActivitate>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[sdf]]></Value>
    </etaj>
    <judetSector>
      <Value><![CDATA[sdfs]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[dsfxz]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[sdf]]></Value>
    </numarStrada>
    <scara>
      <Value><![CDATA[sdf]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[sxdf]]></Value>
    </strada>
  </Properties>
</Content>