<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a1f4198-e143-48ba-a0f5-1a7ef2df23aa" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-07-11T10:24:47</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="82a26154-ded8-4cf5-9038-d00e4fcd556c">contact</Template>
  </Info>
  <Properties>
    <contactFormHeader>
      <Value><![CDATA[Trimite-ne un mesaj!]]></Value>
    </contactFormHeader>
    <contactIntro>
      <Value><![CDATA[{
  "markup": "<p>O să îți răspundem în cel mai scurt timp</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </contactIntro>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <mapCoordinates>
      <Value><![CDATA[{
  "marker": {
    "latitude": 44.43031695643805,
    "longitude": 26.10239446163178
  },
  "zoom": 18,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 44.429424386361845,
      "longitude": 26.100710034370426
    },
    "northEastCorner": {
      "latitude": 44.430956687119554,
      "longitude": 26.10759258270264
    }
  }
}]]></Value>
    </mapCoordinates>
    <mapHeader>
      <Value><![CDATA[Ne găsești aici!]]></Value>
    </mapHeader>
    <pageTitle>
      <Value><![CDATA[Hai să ne cunoaștem]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>