<?xml version="1.0" encoding="utf-8"?>
<Content Key="75b4de32-477d-4e1a-a83b-93e9e0c27637" Alias="Contractor test (1)" Level="102">
  <Info>
    <Parent Key="2de5537a-8e98-4499-b9f5-2007c17fdd10">Contractori (3)</Parent>
    <Path>/[-20]/Contractori3/ContractorTest1</Path>
    <Trashed Parent="2de5537a-8e98-4499-b9f5-2007c17fdd10">true</Trashed>
    <ContentType>contractor</ContentType>
    <CreateDate>2025-01-08T11:32:24</CreateDate>
    <NodeName Default="Contractor test (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4f9be80-ff37-4e3d-a181-91d859fd7b96">Contractor</Template>
  </Info>
  <Properties>
    <acord>
      <Value><![CDATA[[]]]></Value>
    </acord>
    <bloc>
      <Value><![CDATA[da]]></Value>
    </bloc>
    <codPostal>
      <Value><![CDATA[a]]></Value>
    </codPostal>
    <denumireContractor>
      <Value><![CDATA[denumire contractor]]></Value>
    </denumireContractor>
    <domeniuActivitate>
      <Value><![CDATA[[
  "servicii mediere si ocupare"
]]]></Value>
    </domeniuActivitate>
    <email>
      <Value><![CDATA[contractor@contractor.ro]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[c]]></Value>
    </etaj>
    <judetSector>
      <Value><![CDATA[vaslui]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[a]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[da]]></Value>
    </numarStrada>
    <scara>
      <Value><![CDATA[e]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[da]]></Value>
    </strada>
  </Properties>
</Content>