<?xml version="1.0" encoding="utf-8"?>
<Content Key="2de5537a-8e98-4499-b9f5-2007c17fdd10" Alias="Contractori (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Contractori3</Path>
    <Trashed Parent="ca4249ed-2b23-4337-b522-63cabe5587d1">true</Trashed>
    <ContentType>listaContractori</ContentType>
    <CreateDate>2025-01-08T11:28:19</CreateDate>
    <NodeName Default="Contractori (3)" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36e5fe70-3976-4920-b158-b47ba6f25f64">Contractori</Template>
  </Info>
  <Properties />
</Content>