<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3564f6f-0a64-4501-8699-d3704cf5fce5" Alias="Contractori" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Contractori</Path>
    <Trashed>false</Trashed>
    <ContentType>contractori</ContentType>
    <CreateDate>2025-01-08T09:23:58</CreateDate>
    <NodeName Default="Contractori" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36e5fe70-3976-4920-b158-b47ba6f25f64">Contractori</Template>
  </Info>
  <Properties />
</Content>