<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ce4526d-80ff-4578-854c-777ee1fa270a" Alias="contractor test" Level="3">
  <Info>
    <Parent Key="d3564f6f-0a64-4501-8699-d3704cf5fce5">Contractori</Parent>
    <Path>/Home/Contractori/contractorTest</Path>
    <Trashed>false</Trashed>
    <ContentType>contractor</ContentType>
    <CreateDate>2025-01-08T09:39:25</CreateDate>
    <NodeName Default="contractor test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4f9be80-ff37-4e3d-a181-91d859fd7b96">Contractor</Template>
  </Info>
  <Properties>
    <acord>
      <Value><![CDATA[[]]]></Value>
    </acord>
    <bloc>
      <Value><![CDATA[a]]></Value>
    </bloc>
    <codPostal>
      <Value><![CDATA[a]]></Value>
    </codPostal>
    <denumireContractor>
      <Value><![CDATA[contractor test]]></Value>
    </denumireContractor>
    <domeniuActivitate>
      <Value><![CDATA[[
  "formare profesionala ANC"
]]]></Value>
    </domeniuActivitate>
    <email>
      <Value><![CDATA[contractor@contractor.ro]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[a]]></Value>
    </etaj>
    <judetSector>
      <Value><![CDATA[a]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[a]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[a]]></Value>
    </numarStrada>
    <scara>
      <Value><![CDATA[a]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[a]]></Value>
    </strada>
  </Properties>
</Content>