<?xml version="1.0" encoding="utf-8"?>
<Content Key="6374bda9-034a-4109-a837-72ed6a325f11" Alias="Emmanuel Tissera" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Voluntar în România</Parent>
    <Path>/Home/VoluntarInRomania/EmmanuelTissera</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2024-07-11T10:24:47</CreateDate>
    <NodeName Default="Emmanuel Tissera" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <activitati>
      <Value><![CDATA[Activitate 3]]></Value>
    </activitati>
    <department>
      <Value><![CDATA[]]></Value>
    </department>
    <despreMine>
      <Value><![CDATA[{
  "markup": "<p>despre nenea omu'</p>\n<p>noreinhreoire</p>\n<p>oiernejiorej</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </despreMine>
    <email>
      <Value><![CDATA[email@email.ro]]></Value>
    </email>
    <experientaVoluntar>
      <Value><![CDATA[{
  "markup": "<p>hfriuhreiuer nrunhoreure reoubreoubruioe orhuorehruoe orhoreubrou</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </experientaVoluntar>
    <facebookUsername>
      <Value><![CDATA[contFB]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[contInsta]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[contLink]]></Value>
    </linkedInUsername>
    <nume>
      <Value><![CDATA[]]></Value>
    </nume>
    <photo>
      <Value><![CDATA[[
  {
    "key": "f24249d1-aabe-4c45-985f-64c9a94dbd1a",
    "mediaKey": "77db56ab-2f79-4eb2-82fd-eb7266e6b366"
  }
]]]></Value>
    </photo>
    <prenume>
      <Value><![CDATA[]]></Value>
    </prenume>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[contX]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>