<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ce0b4d2-216b-4f3e-8b10-bc73435f9886" Alias="Eroor page" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/EroorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-09-03T15:00:22</CreateDate>
    <NodeName Default="Eroor page" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cc38f5bfb04b4b409e0fd6195c6deef4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/cc38f5bfb04b4b409e0fd6195c6deef4",
      "richText": {
        "markup": "<p>Eroare - nu poti vizualiza aceasta pagina</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Error Page]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>