<?xml version="1.0" encoding="utf-8"?>
<Content Key="eea9f100-72a4-4107-ac48-0d92ed483d6e" Alias="Eveniment ecologic" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Evenimente</Parent>
    <Path>/Home/Evenimente/EvenimentEcologic</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-07-24T13:22:49</CreateDate>
    <NodeName Default="Eveniment ecologic" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <adresaEveniment>
      <Value><![CDATA[Strada Evenimenului numarul 69]]></Value>
    </adresaEveniment>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0158d4ab65a443f8b935376734165e54",
        "areas": [
          {
            "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
            "items": [
              {
                "contentUdi": "umb://element/19a172810b9c4f52b1d4b65921629514",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
            "items": [
              {
                "contentUdi": "umb://element/e48aa0527990405391e59fd0b2bf58c8",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/55f1401302ff41d5a9e490ea2e2c28f7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/0158d4ab65a443f8b935376734165e54"
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/19a172810b9c4f52b1d4b65921629514",
      "richText": {
        "markup": "<p>LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori LOrem ipsum de multe ori&nbsp;</p>\n<p>&nbsp;</p>\n<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://youtu.be/hhjHcHlmdA4?si=H3MSuJ9YSCUdsnJr\" data-embed-height=\"240\" data-embed-width=\"360\" data-embed-constrain=\"true\"><iframe width=\"360\" height=\"203\" src=\"https://www.youtube.com/embed/hhjHcHlmdA4?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" referrerpolicy=\"strict-origin-when-cross-origin\" allowfullscreen=\"allowfullscreen\" title=\"Hammond and May Take Clarkson's Eurocrash Car Around The Eboladrome | The Grand Tour | DRIVETRIBE\"></iframe></div>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "udi": "umb://element/e48aa0527990405391e59fd0b2bf58c8",
      "headline": "DOAR UN EXEMPLU DE FORMATARE!"
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/55f1401302ff41d5a9e490ea2e2c28f7",
      "richText": {
        "markup": "<ul>\n<li>vustvueyvryuer</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bang,ecologie]]></Value>
    </category>
    <dataEveniment>
      <Value><![CDATA[2024-09-18T12:00:00]]></Value>
    </dataEveniment>
    <description>
      <Value><![CDATA[

Pellentesque augue odio, ornare quis nisl ac, suscipit posuere nunc. Vestibulum ac pellentesque leo, sit amet mattis libero. Duis non facilisis urna, non tempus elit. Nullam aliquam at nibh at euismod. Etiam rhoncus eleifend venenatis. Curabitur mollis mattis felis nec aliquet. Nulla tempus sapien nec diam finibus, vitae accumsan nunc tempor. Curabitur vitae magna mi. Quisque porttitor nisi at maximus commodo. Morbi viverra convallis ornare. In sollicitudin risus nec dignissim euismod. Duis ullamcorper pharetra molestie.

Ut tempor neque scelerisque, porttitor velit non, bibendum est. Nunc hendrerit, lacus at dignissim laoreet, lectus nibh gravida ante, non euismod metus ligula sit amet est. Ut dapibus erat vitae turpis rhoncus pretium. Cras sed lorem eget sapien dignissim cursus eu vel est. Proin sed viverra massa. Duis id dictum magna, nec convallis est. Fusce interdum ultricies eros sit amet ornare. Suspendisse aliquet erat metus, id faucibus metus tristique non. Vestibulum malesuada felis vitae faucibus fringilla. Fusce nec augue pellentesque, pulvinar nunc eget, pellentesque ante. Nam porta pellentesque ligula, accumsan iaculis felis facilisis id. Fusce elit ipsum, bibendum vel odio sit amet, sollicitudin scelerisque arcu. Mauris feugiat augue lorem, ut eleifend augue tristique a.

Maecenas luctus pulvinar nisi non accumsan. Suspendisse ac dictum risus. Cras aliquam porta eleifend. Mauris non ullamcorper ante. Donec in porta ante, eget hendrerit massa. Sed dui urna, tincidunt vel finibus sit amet, maximus ac velit. Phasellus sit amet purus non nunc pharetra tempor. ]]></Value>
    </description>
    <features>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d54e91b5f9bd47239df7703542eb7a9a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "udi": "umb://element/d54e91b5f9bd47239df7703542eb7a9a",
      "featureName": "Afară cu uscăturile din pădurea noastră!",
      "featureDetails": "feature numarul 1\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </features>
    <localizareEveniment>
      <Value><![CDATA[{
  "marker": {
    "latitude": 46.5446253,
    "longitude": 24.561196
  },
  "zoom": 11,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 46.4534701094454,
      "longitude": 24.25094604492188
    },
    "northEastCorner": {
      "latitude": 46.64236537751267,
      "longitude": 24.868240356445316
    }
  }
}]]></Value>
    </localizareEveniment>
    <photos>
      <Value><![CDATA[[
  {
    "key": "370e728c-7378-4dee-8f88-43af6312dae8",
    "mediaKey": "cc3de3a4-9dc8-4464-8991-5a9320658787"
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[Împreună curățăm pădurea de uscături]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[Detalii eveniment]]></Value>
    </sku>
    <websiteEveniment>
      <Value><![CDATA[[
  {
    "url": "https://google.com"
  }
]]]></Value>
    </websiteEveniment>
  </Properties>
</Content>