<?xml version="1.0" encoding="utf-8"?>
<Content Key="5015e369-c2eb-4c66-96f4-d5f0fd442a96" Alias="Fii voluntar!" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/FiiVoluntar</Path>
    <Trashed>false</Trashed>
    <ContentType>inscriereVoluntari</ContentType>
    <CreateDate>2024-09-26T12:09:30</CreateDate>
    <NodeName Default="Fii voluntar!" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c7fe1010-5418-41f7-a9c1-e170e338b54f">InscriereVoluntari</Template>
  </Info>
  <Properties>
    <continutulPaginii>
      <Value><![CDATA[{
  "markup": "<p>Vino alături de noi</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </continutulPaginii>
    <titlulPaginii>
      <Value><![CDATA[Implică-te]]></Value>
    </titlulPaginii>
  </Properties>
</Content>