<?xml version="1.0" encoding="utf-8"?>
<Content Key="05a9cc7c-a892-4995-843f-4629fbe1de91" Alias="Fii Voluntar!" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/FiiVoluntar</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-09-26T10:18:32</CreateDate>
    <NodeName Default="Fii Voluntar!" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/384289399ceb447fa02467faf6c1f51b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f3a96677df774f7baa93e496238ff684",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d1ba15acddc84b74ba983f27f7d1b09b",
        "areas": [
          {
            "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
            "items": [
              {
                "contentUdi": "umb://element/df7b25ac0eae44479fa2a3892d008d8f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
            "items": [
              {
                "contentUdi": "umb://element/730ce74f9c8345eda675cb0924294a7a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/384289399ceb447fa02467faf6c1f51b",
      "richText": {
        "markup": "<h4><strong>EȘTI PREGĂTIT</strong></h4>\n<h2>să faci diferența?</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/f3a96677df774f7baa93e496238ff684",
      "richText": {
        "markup": "<p>Te invităm să te alături echipei noastre de voluntari și să contribui la lorem ipsum.....</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/d1ba15acddc84b74ba983f27f7d1b09b"
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/df7b25ac0eae44479fa2a3892d008d8f",
      "richText": {
        "markup": "<ol>\n<li>lorem ipsum lorem ipsum</li>\n<li>llorem ipsum lorem ipsum</li>\n<li>lorem ipsum lorem ipsum</li>\n</ol>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/730ce74f9c8345eda675cb0924294a7a",
      "richText": {
        "markup": "<ol>\n<li>lorem ipsum lorem ipsum lorem ipsum</li>\n<li>lorem ipsum lorem ipsum lorem ipsum</li>\n<li>lorem ipsum lorem ipsum lorem ipsum</li>\n</ol>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Fii Voluntar]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>