<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bcf9aea-fabe-4bbf-84f7-f2f09f9f7007" Alias="formator test" Level="3">
  <Info>
    <Parent Key="ef5c7aff-6a9c-463d-9c28-78e3823c8ae9">Formatori</Parent>
    <Path>/Home/Formatori/formatorTest</Path>
    <Trashed>false</Trashed>
    <ContentType>formator</ContentType>
    <CreateDate>2025-01-08T10:22:35</CreateDate>
    <NodeName Default="formator test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c44a25fd-56bb-4c39-a4d1-e0eae48aa24e">Formator</Template>
  </Info>
  <Properties>
    <acord>
      <Value><![CDATA[[]]]></Value>
    </acord>
    <apartament>
      <Value><![CDATA[a]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[a]]></Value>
    </bloc>
    <codPostal>
      <Value><![CDATA[a]]></Value>
    </codPostal>
    <domeniuDeFormare>
      <Value><![CDATA[[
  "competente digitale"
]]]></Value>
    </domeniuDeFormare>
    <email>
      <Value><![CDATA[vasile@valil.ro]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[a]]></Value>
    </etaj>
    <judetSector>
      <Value><![CDATA[a]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[a]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[a]]></Value>
    </numarStrada>
    <nume>
      <Value><![CDATA[alexandru]]></Value>
    </nume>
    <prenume>
      <Value><![CDATA[vasile]]></Value>
    </prenume>
    <scara>
      <Value><![CDATA[a]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[a]]></Value>
    </strada>
  </Properties>
</Content>