<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef5c7aff-6a9c-463d-9c28-78e3823c8ae9" Alias="Formatori" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Formatori</Path>
    <Trashed>false</Trashed>
    <ContentType>formatori</ContentType>
    <CreateDate>2025-01-08T09:49:58</CreateDate>
    <NodeName Default="Formatori" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7fe51de8-3a34-41c5-91fc-08d826c3804f">Formatori</Template>
  </Info>
  <Properties />
</Content>