<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cce2545-e3ac-44ec-bf55-a52cc5965db3" Alias="Formular ANAF 230" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/FormularANAF230</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-07-11T10:24:47</CreateDate>
    <NodeName Default="Formular ANAF 230" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b0587e740352441eab08c2cad78cce39",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1622fb0402a948d1bd9aff4b913873a5",
        "areas": [
          {
            "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
            "items": [
              {
                "contentUdi": "umb://element/459b006f5ee54effa453a624d6f6323e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
            "items": [
              {
                "contentUdi": "umb://element/b73ecfb80c664264b8e48d5a650c0a1f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "udi": "umb://element/b0587e740352441eab08c2cad78cce39",
      "headline": "Descarca formularul anaf"
    },
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/1622fb0402a948d1bd9aff4b913873a5"
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/b73ecfb80c664264b8e48d5a650c0a1f",
      "richText": {
        "markup": "<p>&nbsp;</p>\n<p><a rel=\"noopener\" href=\"/media/dkbkreg3/230.pdf\" target=\"_blank\" title=\"Descarca formular\">Descarca formular</a></p>\n<p>&nbsp;</p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "udi": "umb://element/459b006f5ee54effa453a624d6f6323e",
      "image": [
        {
          "key": "b559c199-42cc-42b4-af0b-9e27777beb1f",
          "mediaKey": "480bf79c-1535-41ac-ad9c-3930d527f815"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>