<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a106838-ae4a-4aee-a6df-721f79335ff3" Alias="Gal Vaslui a lansat un apel" Level="3">
  <Info>
    <Parent Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">Noutăți</Parent>
    <Path>/Home/Noutati/GalVasluiALansatUnApel</Path>
    <Trashed>false</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2024-07-12T09:53:26</CreateDate>
    <NodeName Default="Gal Vaslui a lansat un apel" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3e443291b323440cb077d5d1bb0e5f8e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/3e443291b323440cb077d5d1bb0e5f8e",
      "richText": {
        "markup": "<p>Braniștea, Chiuza, Zagra, Runcu Salvei, Cuzdrioara, Ciceu-Mihăiești, Petru Rareș, Uriu, Ciceu-Giurgești, Negrilești, Târlișua, Spermezeu, Căianu-Mic, Matei, Budești, Chiochiș, Nușeni, Lechința, Șieu-Odorhei și Beclean. Acestea sunt UAT-urile în care au avut loc întâlniri de informare și animare în primul trimestru, corespunzător implementării Strategiei de Dezvoltare Locală 2023-2027 a Asociației Parteneriat GAL Ținutul Haiducilor. Toate aceste întâlniri au fost o bucurie și totodată un prilej de a lua pulsul comunității din întreg teritoriul. Doar știind unii de ceilalți și colaborând împreună se pot descoperi noi oportunități de dezvoltare a întregului teritoriu GAL Ținutul Haiducilor.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[[
  "Vaslui"
]]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[Braniștea, Chiuza, Zagra, Runcu Salvei, Cuzdrioara, Ciceu-Mihăiești, Petru Rareș, Uriu, Ciceu-Giurgești, Negrilești, Târlișua, Spermezeu, Căianu-Mic, Matei, Budești, Chiochiș, Nușeni, Lechința, Șieu-Odorhei și Beclean. Acestea sunt UAT-urile în care au avut loc întâlniri de informare și animare în primul trimestru, corespunzător implementării Strategiei de Dezvoltare Locală 2023-2027 a Asociației Parteneriat GAL Ținutul Haiducilor.]]></Value>
    </excerpt>
    <fotoStire>
      <Value><![CDATA[[
  {
    "key": "501fac2d-b3bf-4030-bfee-e6946e34f107",
    "mediaKey": "898bfb1c-e66b-44e9-8b14-2b065bb2f47e"
  }
]]]></Value>
    </fotoStire>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <localizareGal>
      <Value><![CDATA[{
  "marker": {
    "latitude": 46.496847,
    "longitude": 27.803675149742553
  },
  "zoom": 8,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 45.73685954736049,
      "longitude": 25.257568359375
    },
    "northEastCorner": {
      "latitude": 47.249406957888446,
      "longitude": 30.195922851562504
    }
  }
}]]></Value>
    </localizareGal>
    <pageTitle>
      <Value><![CDATA[Grupul de Acțiune locală "Vasluiul de pe coline" a lansat un apel de selecție proiecte pentru submăsura 19.1]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
    <websiteGal>
      <Value><![CDATA[https://google.com]]></Value>
    </websiteGal>
  </Properties>
</Content>