<?xml version="1.0" encoding="utf-8"?>
<Content Key="477c364e-a201-4e11-908d-51f6a3882904" Alias="Gal Test" Level="3">
  <Info>
    <Parent Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f">GALURI</Parent>
    <Path>/Home/GALURI/GalTest</Path>
    <Trashed>false</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2024-10-17T12:07:42</CreateDate>
    <NodeName Default="Gal Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <apartament>
      <Value><![CDATA[a]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[a]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[1278639710]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[a]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[GAl Test denumire]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[email@galtest.ro]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[a]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[a]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[a]]></Value>
    </localitate>
    <membrii>
      <Value><![CDATA[]]></Value>
    </membrii>
    <numarStrada>
      <Value><![CDATA[90]]></Value>
    </numarStrada>
    <persoanaDeContact>
      <Value><![CDATA[]]></Value>
    </persoanaDeContact>
    <scara>
      <Value><![CDATA[a]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[dee]]></Value>
    </strada>
    <telefonPersoanaDeContact>
      <Value><![CDATA[]]></Value>
    </telefonPersoanaDeContact>
    <websiteGal>
      <Value><![CDATA[www.galtest.ro]]></Value>
    </websiteGal>
  </Properties>
</Content>