<?xml version="1.0" encoding="utf-8"?>
<Content Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f" Alias="GALURI" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/GALURI</Path>
    <Trashed>false</Trashed>
    <ContentType>listaGaluri</ContentType>
    <CreateDate>2024-10-17T12:04:30</CreateDate>
    <NodeName Default="GALURI" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a56bbaf5-bf0b-4e4d-9ab6-89ebe7e6a487">ListaGaluri</Template>
  </Info>
  <Properties>
    <cateGaluriArTrebuiAfisate>
      <Value><![CDATA[3]]></Value>
    </cateGaluriArTrebuiAfisate>
  </Properties>
</Content>