<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9fea3a3-e19b-42e8-9537-ab7d46d5c87d" Alias="GALURI" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GALURI</Path>
    <Trashed Parent="ca4249ed-2b23-4337-b522-63cabe5587d1">true</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2024-10-17T12:03:17</CreateDate>
    <NodeName Default="GALURI" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[AA]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[AA]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[AAA]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[AA]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[AA]]></Value>
    </numarStrada>
    <scara>
      <Value><![CDATA[AA]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[AA]]></Value>
    </strada>
    <websiteGal>
      <Value><![CDATA[AA]]></Value>
    </websiteGal>
  </Properties>
</Content>