<?xml version="1.0" encoding="utf-8"?>
<Content Key="64729e24-7ad3-4c45-855a-6a978b066060" Alias="Histria-Razim-Hamangia" Level="3">
  <Info>
    <Parent Key="bcd2a7e7-f038-40a8-ba7b-b6ca628e5d4f">GALURI</Parent>
    <Path>/Home/GALURI/HistriaRazimHamangia</Path>
    <Trashed>false</Trashed>
    <ContentType>gal</ContentType>
    <CreateDate>2025-01-08T16:34:41</CreateDate>
    <NodeName Default="Histria-Razim-Hamangia" />
    <SortOrder>148</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc46a3f1-81c0-4385-8e55-e9cd2c2294c9">Gal</Template>
  </Info>
  <Properties>
    <adaugaMembrii>
      <Value><![CDATA[]]></Value>
    </adaugaMembrii>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cIFGAL>
      <Value><![CDATA[35876179]]></Value>
    </cIFGAL>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumireGAL>
      <Value><![CDATA[Histria-Razim-Hamangia]]></Value>
    </denumireGAL>
    <emailGal>
      <Value><![CDATA[gal_hrh16@yahoo.com]]></Value>
    </emailGal>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numarStrada>
      <Value><![CDATA[]]></Value>
    </numarStrada>
    <persoanaDeContact>
      <Value><![CDATA[]]></Value>
    </persoanaDeContact>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
    <telefonPersoanaDeContact>
      <Value><![CDATA[0735004002]]></Value>
    </telefonPersoanaDeContact>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>