<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-07-11T10:24:46</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6866124b5d3245478b5860bc20a47569",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/6866124b5d3245478b5860bc20a47569",
      "richText": {
        "markup": "<?UMBRACO_MACRO macroAlias=\"latestBlogposts\" numberOfPosts=\"3\" startNodeId=\"umb://document/1d770f10d1ca4a269d68071e2c9f7ac1\" />",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[fara]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[fara]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[@Galosfera 2024]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value><![CDATA[Citește noutățile]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/1d770f10d1ca4a269d68071e2c9f7ac1]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value><![CDATA[]]></Value>
    </footerDescription>
    <footerHeader>
      <Value><![CDATA[GALOSFERA]]></Value>
    </footerHeader>
    <hartaGal>
      <Value><![CDATA[{
  "marker": {
    "latitude": 44.4361414,
    "longitude": 26.1027202
  },
  "zoom": 10,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 44.24126379833979,
      "longitude": 25.214996337890625
    },
    "northEastCorner": {
      "latitude": 44.6334823448553,
      "longitude": 26.976928710937504
    }
  }
}]]></Value>
    </hartaGal>
    <HeroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "1383b35a-58f8-4035-bb00-0ab914c965d3",
    "mediaKey": "2d26eafa-14f1-48fa-be6d-9e75dc385446"
  }
]]]></Value>
    </HeroBackgroundImage>
    <heroCTACaption>
      <Value><![CDATA[Call 2 action, daca vreau]]></Value>
    </heroCTACaption>
    <HeroCtalink>
      <Value><![CDATA[umb://document/d6b8d2b5541a45a7b097dff0c1ca6ef7]]></Value>
    </HeroCtalink>
    <heroDescription>
      <Value><![CDATA[Acționarea împreună maximizează resursele și ideile, soluționând probleme complexe și promovând solidaritatea, progresul și bunăstarea colectivă.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[GALOSFERA]]></Value>
    </heroHeader>
    <SiteLogo>
      <Value><![CDATA[[
  {
    "key": "6dd2f9c6-6f16-486e-b89b-76578b13aa95",
    "mediaKey": "10df9184-3390-4f58-9994-3d48ee9cab00"
  }
]]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[GaloSfera]]></Value>
    </sitename>
  </Properties>
</Content>