<?xml version="1.0" encoding="utf-8"?>
<Content Key="64f7f9c8-5313-4e7b-a94b-249197127365" Alias="INDRUMAR PENTRU DESFĂȘURAREA FOCUS-GRUPURILOR" Level="3">
  <Info>
    <Parent Key="63afd463-978e-473f-8b2c-c37664d44478">Biblioteca</Parent>
    <Path>/Home/Biblioteca/INDRUMARPENTRUDESFASURAREAFOCUSGRUPURILOR</Path>
    <Trashed>false</Trashed>
    <ContentType>bibliotecaItem</ContentType>
    <CreateDate>2025-01-08T19:55:41</CreateDate>
    <NodeName Default="INDRUMAR PENTRU DESFĂȘURAREA FOCUS-GRUPURILOR" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="421ac8db-b531-44ae-8fc2-f31a5dcd7861">BibliotecaItem</Template>
  </Info>
  <Properties>
    <carteContinut>
      <Value><![CDATA[{
  "markup": "<p>Activitatea face parte dintrun studiu care are ca obiectiv principal evaluarea implicării Grupurilor de Acțiune Locală&nbsp;(GAL) în dezvoltarea dialogului civic și monitorizarea pieței muncii, cu scopul de a îmbunătăți&nbsp;managementul organizațional și de a contribui la creșterea capacității organizațiilor din&nbsp;societatea civilă de a se implica în aceste domenii.<br><a rel=\"noopener\" href=\"/{localLink:umb://media/598693c6a2c1490f8d78c533d1f3b7c2}\" target=\"_blank\" title=\"Îndrumar Organizare Focusgrupuri\">ÎNDRUMAR ORGANIZARE FOCUS-GRUPURI</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </carteContinut>
    <carteTitlu>
      <Value><![CDATA[INDRUMAR PENTRU DESFĂȘURAREA FOCUS-GRUPURILOR]]></Value>
    </carteTitlu>
  </Properties>
</Content>