<?xml version="1.0" encoding="utf-8"?>
<Content Key="160b7378-252a-4ca0-8078-1cfd40bd38dd" Alias="Inscriere voluntari" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/InscriereVoluntari</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-09-26T12:02:39</CreateDate>
    <NodeName Default="Inscriere voluntari" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/74dc8c25557c4c79beb1590689c64c75",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "udi": "umb://element/74dc8c25557c4c79beb1590689c64c75",
      "headline": "Implică-te!"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Inscriere voluntari]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>