<?xml version="1.0" encoding="utf-8"?>
<Content Key="59cdd01f-dc65-486d-84f3-95b8361fcd4f" Alias="Laura Weatherhead" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">Voluntar în România</Parent>
    <Path>/Home/VoluntarInRomania/LauraWeatherhead</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2024-07-11T10:24:47</CreateDate>
    <NodeName Default="Laura Weatherhead" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <activitati>
      <Value><![CDATA[Activitate 3]]></Value>
    </activitati>
    <department>
      <Value><![CDATA[United Kingdom,mvp]]></Value>
    </department>
    <despreMine>
      <Value><![CDATA[{
  "markup": "<blockquote>Sunt o tânără de 83 de anișori care încă visează la o lume mai bună!</blockquote>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </despreMine>
    <email>
      <Value><![CDATA[laura@email.ro]]></Value>
    </email>
    <experientaVoluntar>
      <Value><![CDATA[{
  "markup": "<blockquote>Experienta de voluntariat include ingrijirea batrânilor la domiciliu.</blockquote>\n<blockquote>Această activitate a fost practicată în ultimii 3 ani alături de alți voluntari de la Crucea Roșie</blockquote>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </experientaVoluntar>
    <facebookUsername>
      <Value><![CDATA[laura_T]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[laura_T]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[laura_T]]></Value>
    </linkedInUsername>
    <nume>
      <Value><![CDATA[Weatherhead]]></Value>
    </nume>
    <photo>
      <Value><![CDATA[[
  {
    "key": "6041f3bc-7a18-4924-9949-640c9b13b33e",
    "mediaKey": "97f2b01a-ce57-4718-a18c-3404fb8e25e4"
  }
]]]></Value>
    </photo>
    <prenume>
      <Value><![CDATA[Laura]]></Value>
    </prenume>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[laura_T]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>