<?xml version="1.0" encoding="utf-8"?>
<Content Key="54a5ffce-298b-46a4-aea5-b4c0661727ff" Alias="Logare" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Logare</Path>
    <Trashed>false</Trashed>
    <ContentType>logare</ContentType>
    <CreateDate>2024-11-07T16:03:38</CreateDate>
    <NodeName Default="Logare" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bcb87f3d-85c4-4767-ba85-4e1cda204842">Logare</Template>
  </Info>
  <Properties>
    <continutPagina>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"Login\" />\n<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"Register\" />\n<p>&nbsp;</p>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </continutPagina>
    <titluPagina>
      <Value><![CDATA[Logare sau inregistrare]]></Value>
    </titluPagina>
  </Properties>
</Content>