<?xml version="1.0" encoding="utf-8"?>
<Content Key="acc67704-3dc5-4e1d-9987-b8d6c3daa5e1" Alias="LoremIpsumCarte1" Level="3">
  <Info>
    <Parent Key="63afd463-978e-473f-8b2c-c37664d44478">Biblioteca</Parent>
    <Path>/Home/Biblioteca/LoremIpsumCarte1</Path>
    <Trashed>false</Trashed>
    <ContentType>bibliotecaItem</ContentType>
    <CreateDate>2024-11-19T09:39:41</CreateDate>
    <NodeName Default="LoremIpsumCarte1" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="421ac8db-b531-44ae-8fc2-f31a5dcd7861">BibliotecaItem</Template>
  </Info>
  <Properties>
    <carteContinut>
      <Value><![CDATA[{
  "markup": "<p>Acest chestionar face parte dintr-un studiu mai amplu care isi propune sa analizeze rolul si contributia Grupurilor de Actiune Locala in societatea civila.</p>\n<p><a rel=\"noopener\" href=\"/{localLink:umb://media/98189215466a45ebaf4a0bfb891be94a}\" target=\"_blank\" title=\"Chestionare STUDIU\">&nbsp;Chestionare STUDIU</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </carteContinut>
    <carteTitlu>
      <Value><![CDATA[MATERIAL INTRODUCTIV  PRIVIND APLICAREA URMATOARELOR INSTRUMENTE DE COLECTARE]]></Value>
    </carteTitlu>
  </Properties>
</Content>