<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1f94298-4594-4179-bf39-e0c0cd6ba8cf" Alias="Membru 2" Level="3">
  <Info>
    <Parent Key="cf18db10-2436-46a7-ac29-ff02893c055b">Membrii asociatie</Parent>
    <Path>/Home/MembriiAsociatie/Membru2</Path>
    <Trashed>false</Trashed>
    <ContentType>membruPF</ContentType>
    <CreateDate>2025-01-08T14:38:35</CreateDate>
    <NodeName Default="Membru 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0148c24a-8776-460f-b835-f672a723b087">MembruPF</Template>
  </Info>
  <Properties>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cNP>
      <Value><![CDATA[]]></Value>
    </cNP>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <initialaTatalui>
      <Value><![CDATA[]]></Value>
    </initialaTatalui>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numar>
      <Value><![CDATA[]]></Value>
    </numar>
    <nume>
      <Value><![CDATA[Membru 2]]></Value>
    </nume>
    <prenume>
      <Value><![CDATA[]]></Value>
    </prenume>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
  </Properties>
</Content>