<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc44bd45-112a-495c-ab05-1b21c4ac2848" Alias="Membru unu pj" Level="3">
  <Info>
    <Parent Key="067e4c25-4a3d-42bf-94a5-1aeedb38548d">Membrii asociatie peroane juridice</Parent>
    <Path>/Home/MembriiAsociatiePeroaneJuridice/MembruUnuPj</Path>
    <Trashed>false</Trashed>
    <ContentType>membruPJ</ContentType>
    <CreateDate>2025-01-08T15:09:46</CreateDate>
    <NodeName Default="Membru unu pj" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5380c0ae-e62a-48fe-a13b-94bf994acf24">MembruPJ</Template>
  </Info>
  <Properties>
    <apartament>
      <Value><![CDATA[]]></Value>
    </apartament>
    <bloc>
      <Value><![CDATA[]]></Value>
    </bloc>
    <cIF>
      <Value><![CDATA[]]></Value>
    </cIF>
    <codPostal>
      <Value><![CDATA[]]></Value>
    </codPostal>
    <denumire>
      <Value><![CDATA[membru 1 pj]]></Value>
    </denumire>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <etaj>
      <Value><![CDATA[]]></Value>
    </etaj>
    <iBAN>
      <Value><![CDATA[]]></Value>
    </iBAN>
    <judetSector>
      <Value><![CDATA[]]></Value>
    </judetSector>
    <localitate>
      <Value><![CDATA[]]></Value>
    </localitate>
    <numar>
      <Value><![CDATA[]]></Value>
    </numar>
    <scara>
      <Value><![CDATA[]]></Value>
    </scara>
    <strada>
      <Value><![CDATA[]]></Value>
    </strada>
  </Properties>
</Content>