<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8cb3c06-bb0f-46b9-a3fb-70bf05816aef" Alias="Noutate de test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NoutateDeTest</Path>
    <Trashed Parent="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">true</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2025-01-29T14:13:11</CreateDate>
    <NodeName Default="Noutate de test" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[alea alea lorem ipsum]]></Value>
    </excerpt>
    <fotoStire>
      <Value><![CDATA[[]]]></Value>
    </fotoStire>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <localizareGal>
      <Value><![CDATA[]]></Value>
    </localizareGal>
    <pageTitle>
      <Value><![CDATA[Noutate]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>