<?xml version="1.0" encoding="utf-8"?>
<Content Key="a15b173f-82a4-4b02-a415-da73e0b9e79f" Alias="Politica de confidentialitate si GDPR" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/PoliticaDeConfidentialitateSiGDPR</Path>
    <Trashed>false</Trashed>
    <ContentType>gDPR</ContentType>
    <CreateDate>2024-11-20T16:58:43</CreateDate>
    <NodeName Default="Politica de confidentialitate si GDPR" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="abd2386a-fddd-4f4f-8166-d0d3ec7effda">GDPR</Template>
  </Info>
  <Properties>
    <continut>
      <Value><![CDATA[{
  "markup": "<p>aici e politica.... vezi ca se poate formata textul si din backend</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </continut>
    <titlu>
      <Value><![CDATA[Politica de confidentialitate si GDPR]]></Value>
    </titlu>
  </Properties>
</Content>