<?xml version="1.0" encoding="utf-8"?>
<Content Key="42951617-9103-4d3d-8465-8a1427012253" Alias="Register / Login" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/RegisterLogin</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-07-11T10:53:56</CreateDate>
    <NodeName Default="Register / Login" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/830766e0a3d64b7d926fc7f4cdb02b99",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ac92acf7bd6645d28d4fbf1c2ea0a545",
        "areas": [
          {
            "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
            "items": [
              {
                "contentUdi": "umb://element/93c27775053045a1af96ad90d1958ea2",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
            "items": [
              {
                "contentUdi": "umb://element/0df03cc4d33d49e18fc249e970450b4f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/830766e0a3d64b7d926fc7f4cdb02b99",
      "richText": {
        "markup": "<p style=\"text-align: center;\"><em><strong>Pentru a accesa acest conținut, trebuie să iți creezi un cont la noi pe platformă sau, dacă deja ai cont, să te loghezi în secțiunea de mai jos:</strong></em></p>\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "udi": "umb://element/ac92acf7bd6645d28d4fbf1c2ea0a545"
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/93c27775053045a1af96ad90d1958ea2",
      "richText": {
        "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"Register\" />\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/0df03cc4d33d49e18fc249e970450b4f",
      "richText": {
        "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"Login\" />\n<p>&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Înregistrează-te sau fă-ți cont]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>