<?xml version="1.0" encoding="utf-8"?>
<Content Key="15170ca3-a6ea-41b8-80e8-bf63f7e68da7" Alias="SINTEZA CURS CONSILIER VOCAȚIONAL" Level="3">
  <Info>
    <Parent Key="63afd463-978e-473f-8b2c-c37664d44478">Biblioteca</Parent>
    <Path>/Home/Biblioteca/SINTEZACURSCONSILIERVOCATIONAL</Path>
    <Trashed>false</Trashed>
    <ContentType>bibliotecaItem</ContentType>
    <CreateDate>2025-01-08T20:59:38</CreateDate>
    <NodeName Default="SINTEZA CURS CONSILIER VOCAȚIONAL" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="421ac8db-b531-44ae-8fc2-f31a5dcd7861">BibliotecaItem</Template>
  </Info>
  <Properties>
    <carteContinut>
      <Value><![CDATA[{
  "markup": "<p>Acest obiectiv vizează formarea și perfecționarea abilităților necesare pentru a oferi consiliere vocațională eficientă.<br><a rel=\"noopener\" href=\"/{localLink:umb://media/3ab0dc80b8e34d1ca4ce4bd35994274d}\" target=\"_blank\" title=\"Curs Consilier Vocațional Sinteza (1)\">SINTEZA CURS CONSILIER VOCAȚIONAL</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </carteContinut>
    <carteTitlu>
      <Value><![CDATA[SINTEZA CURS CONSILIER VOCAȚIONAL]]></Value>
    </carteTitlu>
  </Properties>
</Content>