<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c5a631b-2376-41f2-833e-4e4650c2526e" Alias="Termene si conditii" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/TermeneSiConditii</Path>
    <Trashed>false</Trashed>
    <ContentType>termene</ContentType>
    <CreateDate>2024-11-20T16:54:04</CreateDate>
    <NodeName Default="Termene si conditii" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84c913cf-5901-441f-986e-667c626538fe">Termene</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>aici pui termenii si conditiile</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <titlu>
      <Value><![CDATA[Termene si conditii]]></Value>
    </titlu>
  </Properties>
</Content>