<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb2c66ba-69e5-4c46-8366-870353138f40" Alias="test" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Evenimente</Parent>
    <Path>/Home/Evenimente/test</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-01-29T15:21:08</CreateDate>
    <NodeName Default="test" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <adresaEveniment>
      <Value><![CDATA[]]></Value>
    </adresaEveniment>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fdf6d4761a5c4151a489a0bd9e670777",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/fdf6d4761a5c4151a489a0bd9e670777",
      "richText": {
        "markup": "<p>giuer roure reoiub er reou</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[test]]></Value>
    </category>
    <dataEveniment>
      <Value><![CDATA[]]></Value>
    </dataEveniment>
    <description>
      <Value><![CDATA[test]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <localizareEveniment>
      <Value><![CDATA[{
  "marker": {
    "latitude": 47.197737200000006,
    "longitude": 27.197059849658395
  },
  "zoom": 8,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 46.449212403852584,
      "longitude": 24.406127929687504
    },
    "northEastCorner": {
      "latitude": 47.942106827553026,
      "longitude": 30.212402343750004
    }
  }
}]]></Value>
    </localizareEveniment>
    <photos>
      <Value><![CDATA[[
  {
    "key": "188ae626-1b4e-46c1-aea1-c9799dacb3f0",
    "mediaKey": "480bf79c-1535-41ac-ad9c-3930d527f815"
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[test]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
    <websiteEveniment>
      <Value><![CDATA[]]></Value>
    </websiteEveniment>
  </Properties>
</Content>