<?xml version="1.0" encoding="utf-8"?>
<Content Key="33de78df-5681-4153-8e4f-d9064d7d15b6" Alias="test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test</Path>
    <Trashed Parent="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1">true</Trashed>
    <ContentType>blogpost</ContentType>
    <CreateDate>2025-01-29T15:17:41</CreateDate>
    <NodeName Default="test" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cee24304-9a7f-4451-a71f-2af43d718884">Blogpost</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <excerpt>
      <Value><![CDATA[asasasasa]]></Value>
    </excerpt>
    <fotoStire>
      <Value><![CDATA[[]]]></Value>
    </fotoStire>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <localizareGal>
      <Value><![CDATA[]]></Value>
    </localizareGal>
    <pageTitle>
      <Value><![CDATA[test]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
    <websiteGal>
      <Value><![CDATA[]]></Value>
    </websiteGal>
  </Properties>
</Content>