<?xml version="1.0" encoding="utf-8"?>
<Content Key="eea9f100-72a4-4107-ac48-0d92ed483d6e" Alias="Împreună curățăm pădurea de uscături" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Evenimente</Parent>
    <Path>/Home/Evenimente/ImpreunaCuratamPadureaDeUscaturi</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-07-24T13:22:49</CreateDate>
    <NodeName Default="Împreună curățăm pădurea de uscături" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <adresaEveniment>
      <Value><![CDATA[Strada Evenimenului numarul 69]]></Value>
    </adresaEveniment>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[bang,ecologie]]></Value>
    </category>
    <dataEveniment>
      <Value><![CDATA[2024-09-18T12:00:00]]></Value>
    </dataEveniment>
    <description>
      <Value><![CDATA[Pellentesque augue odio, ornare quis nisl ac, suscipit posuere nunc. Vestibulum ac pellentesque leo, sit amet mattis libero. Duis non facilisis urna, non tempus elit. Nullam aliquam at nibh at euismod. Etiam rhoncus eleifend venenatis. Curabitur mollis mattis felis nec aliquet. Nulla tempus sapien nec diam finibus, vitae accumsan nunc tempor. Curabitur vitae magna mi. Quisque porttitor nisi at maximus commodo. Morbi viverra convallis ornare. In sollicitudin risus nec dignissim euismod. Duis ullamcorper pharetra molestie.
]]></Value>
    </description>
    <features>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d54e91b5f9bd47239df7703542eb7a9a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "43b57c46-fb58-4f62-a046-9deb072334d3",
      "udi": "umb://element/d54e91b5f9bd47239df7703542eb7a9a",
      "featureName": "Afară cu uscăturile din pădurea noastră!",
      "featureDetails": "feature numarul 1\n"
    }
  ],
  "settingsData": []
}]]></Value>
    </features>
    <localizareEveniment>
      <Value><![CDATA[{
  "marker": {
    "latitude": 46.5446253,
    "longitude": 24.561196
  },
  "zoom": 11,
  "boundingBox": {
    "southWestCorner": {
      "latitude": 46.4534701094454,
      "longitude": 24.25094604492188
    },
    "northEastCorner": {
      "latitude": 46.64236537751267,
      "longitude": 24.868240356445316
    }
  }
}]]></Value>
    </localizareEveniment>
    <photos>
      <Value><![CDATA[[
  {
    "key": "370e728c-7378-4dee-8f88-43af6312dae8",
    "mediaKey": "cc3de3a4-9dc8-4464-8991-5a9320658787"
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[Împreună curățăm pădurea de uscături]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[Detalii eveniment]]></Value>
    </sku>
    <websiteEveniment>
      <Value><![CDATA[https://www.afir.ro]]></Value>
    </websiteEveniment>
  </Properties>
</Content>