<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f4504aa-20ce-460d-98ac-978841c2ab0c" Alias="Noutăți" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Noutati</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2024-10-25T14:18:13</CreateDate>
    <NodeName Default="Noutăți" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="fa51596e-6657-4dc7-b283-9354be1c0ddf">Blog</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <disqusShortname>
      <Value><![CDATA[]]></Value>
    </disqusShortname>
    <howManyPostsShouldBeShown>
      <Value><![CDATA[2]]></Value>
    </howManyPostsShouldBeShown>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <listaLocatii>
      <Value><![CDATA[]]></Value>
    </listaLocatii>
    <pageTitle>
      <Value><![CDATA[Behind The Scenes]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>